In [1]:
for i in range(6):
    for j in range(i):
        print('*',end="")
    print("")

*
**
***
****
*****

In [2]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end="")
    print("")

*****
****
***
**
*

In [3]:
#A-Z - > 65-90, a-z--> 97-122
for i in range(5):
    for j in range(65,70,1):
        print(chr(j),end="")
    print("")

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [3]:
#DAta Abstracion and Encapsulation
class Library:
    def __init__(self,books):
        self.books=books
    
    def list_books(self):
        print("Available Books")
        for book in self.books:
            print(book)
    def borrow_book(self,borrow_book):
        if borrow_book in self.books:
            print("get your book now ")
            self.books.remove(borrow_book)
        else:
            print("book not available")
    def receive_book(self,receive_book):
        print("you have returned the book")
        self.books.append(receive_book)

In [4]:
books=['C','C++','Java']

In [5]:
o=Library(books)

In [6]:
msg=""" 1.Display Book
        2. Borrow Book
        3.Receive Book"""

In [7]:
while True:
    print(msg)
    ch=int(input("Enter your choice"))
    if ch==1:
        o.list_books()
    elif ch==2:
        book=input("Enter the boook to borrow")
        o.borrow_book(book)
    elif ch==3:
        book=input("Enter the boook to return")
        o.receive_book(book)
    else:
        print("thank you!! Come again")
        break

 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice1
Available Books
C
C++
Java
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice2
Enter the boook to borrowC
get your book now
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice3
Enter the boook to returnC
you have returned the book
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice5
thank you!! Come again

In [2]:
#Single inheritance
class Nokia:
    company='Nokia India'
    website='www.nokia.in'
    def contact_details(self):
        print("Address: Nokia,head office, kammanahalli,Bangalore")

In [7]:
#Derived Class
class Nokia1100(Nokia):
    def __init__(self):
        self.name='Nokia 1100'
        self.year=2000
    def product_details(self):
        print("Name:",self.name)
        print("Year:" ,self.year)
        print("Company:", self.company)
        print("Website:" ,self.website)

In [8]:
mobile=Nokia1100()

In [9]:
mobile.product_details()

Name: Nokia 1100
Year: 2000
Company: Nokia India
Website: www.nokia.in

In [10]:
mobile.contact_details()

Address: Nokia,head office, kammanahalli,Bangalore

In [11]:
#Multiple Inheritance
class Father:
    def Fishing(self):
        print("fishing in river")
    def chess(self):
        print('Father plays chess')

In [12]:
class Mother:
    def Cooking(self):
        print("Cooking Food")
    def chess(self):
        print('Mother plays chess')

In [13]:
class Son(Father,Mother):
    def ride(self):
        print("Riding Bike")

In [15]:
o=Son()

In [16]:
o.ride()

Riding Bike

In [18]:
o.Fishing()

fishing in river

In [20]:
#If both class have same function , it will take the function in the inherited sequence(ie here we gave father , mother so takes from father)
o.chess()

Father plays chess

In [22]:
#Multilevel Inheritance
class Grandfather:
    def ownhouse(self):
        print("Grandpa House")

class Father(Grandfather):
    def ownBike(self):
        print("Father's bike ")
        
class Son(Father):
    def ownBook(self):
        print("Son's book ")

In [23]:
o=Son()

In [24]:
o.ownhouse()

Grandpa House

In [26]:
o.ownBike()

Father's bike

In [27]:
o.ownBook()

Son's book

In [38]:
#Functoin Overriding - function created in based class is redefined in derived class. If both have same function name but differnt values
class Employee:
    def WorkingHrs(self):
        self.hrs=50
    def printhrs(self):
        print('Total hours:',self.hrs)
    
class Trainee(Employee):
    def WorkingHrs(self):
        self.hrs=60
    def reset_hrs(self):
        super().WorkingHrs()

In [29]:
emp=Employee()

In [31]:
emp.WorkingHrs()

In [32]:
emp.printhrs()

Total hours: 50

In [40]:
t=Trainee()

In [41]:
t.WorkingHrs()

In [42]:
t.printhrs()

Total hours: 60

In [43]:
t.reset_hrs()

In [44]:
t.printhrs()

Total hours: 50

In [1]:
# Diamond problem
class A:
    def display(self):
        print("Display of Class A")
        
class B(A):
    def display(self):
        print("Display of Class B")
        
class C(A):
    def display(self):
        print("Display of Class C")
        
class D(B,C):
    def display(self):
        print("Display of Class D")

In [2]:
o=D()

In [4]:
#If D class has function that will be displayed..Else if B or C has that it will be displayed. Or else it will be displayed from A
o.display()

Display of Class D

In [7]:
#Operator overloading(eg + for numbers and string)
class Addition:
    def __init__(self,a):
        self.a=a
    #magic method for overloading + operator
    def __add__(o1,o2):
        return o1.a+o2.a

In [8]:
o1=Addition(10)
o2=Addition(20)

In [9]:
print(o1+o2)

30

In [10]:
#Abstract Base class - Eg This is reserve bank all banks should follow these functions
from abc import ABC,abstractmethod

class Bank(ABC):
    @abstractmethod
    def loan(self):
        pass
    @abstractmethod
    def credit(self):
        pass
    @abstractmethod
    def debit(self):
        pass

In [12]:
#A cass inheriting abstract class should have all the functions in abstract class. We can provide additional methods in derived class
#But the functions present in abstract class is mandatory
class HDFC(Bank):
    def loan(self):
        print("We are providing loan at 7.5% Interest")
    def credit(self):
        print("Credit provided")
    def debit(self):
        print("Debit provided")
    def card(self):
        print("Card provided")

In [13]:
o=HDFC()

In [14]:
o.card()
o.debit()

Card provided
Debit provided

In [16]:
try:
    file=open('sq.txt','r')
    print(file.read())
except Exception as e:
    print(e)
else:
    file.close()

[Errno 2] No such file or directory: 'sq.txt'

In [1]:
#Wite a function to take string calculate average length
def avg_word_len(sent):
    sent=sent.split()
    sum1=0
    for i in sent:
        sum1+=len(i)
    avg=sum1/len(sent)
    
    return avg

In [4]:
avg_word_len('I love cricket')

4.0

In [20]:
s=[2,3,5,6,9,11]

In [21]:
even=[]
for i in s:
    if i%2==0:
        even.append(i)

In [22]:
even

[2, 6]

In [23]:
[i for i in s if i%2==0]

[2, 6]

In [30]:

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [33]:
factorial(2)

2

In [4]:
def factorial(n):
    prod=1
    for i in range(1,n+1):
        prod=prod*i
    return prod

In [5]:
factorial(5)

120

In [35]:
n=int(input('Enter a number'))
d={}

for i in range(1,n+1):
    d[i]=i*i
    
print(d)

Enter a number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
values=input('Enter comma separated numbers')
l=values.split(',')
t=tuple(l)
print(l)
print(t)

Enter comma separated numbers21,22,23,24,25
['21', '22', '23', '24', '25']
('21', '22', '23', '24', '25')

In [42]:
#Fibonacci series
a=0
b=1
n=int(input('Enter number of terms'))
if n<0:
    n=int(input('Enter a positive number'))
print(a,b,end=' ')
while n-2:
    c=a+b
    a=b
    b=c
    print(c,end=' ')
    n=n-1

Enter number of terms14
0 1 1 2 3 5 8 13 21 34 55 89 144 233

In [50]:
#Armstrong number or not
num=int(input('Enter a number'))
s=0
temp=num
while temp>0:
    c=temp%10
    s+=c**3
    temp=temp//10
if num==s:
    print ("Amstrong number")
else:
    print("Not a Armstrong number")

Enter a number21
Not a Armstrong number

In [63]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print("")

*
**
***
****
*****

In [64]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [75]:
#Right triangle star - decresing space and increasing star
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=" ")
    print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [76]:
#Inverted right traingle star
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print(" ")

  * * * * *
    * * * *
      * * *
        * *
          *

In [79]:
#Hill pattern
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")

    print(" ")

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [80]:
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    #decreasng from i+1 to i as we need 1 star less
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")

    print(" ")

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [83]:
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")

    print(" ")

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [91]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [92]:
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
[i+1 for i in range(5,-1,-1)]

[6, 5, 4, 3, 2, 1]

In [98]:
for i in range(5):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [13]:
n=5
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print("")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [102]:
for i in range(5):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print("")

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [104]:
for i in range(5):
    for j in range(i+1):
        print(n-j,end=" ")
    print("")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [1]:
n=int(input("Enter a number to find factorial"))
result=1
for i in range(n,0,-1):
    result=result*i
print('The factorial of', n,'is', result)

Enter a number to find factorial5
The factorial of 5 is 120

In [3]:
# To find prime numbers within given limit
lower=int(input("Enter the lower limit"))
upper=int(input("Enter the upper limit"))
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

Enter the lower limit5
Enter the upper limit24
5
7
11
13
17
19
23

In [5]:
n=int(input('Enter the number to check if it is prime'))
if n>1:
    for i in range(2,n):
        if (n%i)==0:
            print('not a prime')
            break
    else:
        print(n,'is a prime')

Enter the number to check if it is prime4
not a prime

In [6]:
#Swapping using 3rd variable
num1=10
num2=20

temp=num1
num1=num2
num2=temp

num1,num2

(20, 10)

In [7]:
#Swapping without 3rd variable
num1=10
num2=20

num1,num2=num2,num1

In [8]:
num1,num2

(20, 10)

In [9]:
#sum of elements in a list
arr=[1,2,3,4,5]
print(sum(arr))

15

In [11]:
print(sum(arr,10))

25

In [12]:
sum(arr,-10)

5

In [14]:
min(arr)

1

In [15]:
max=arr[0]
n=len(arr)

for i in range(1,n):
    if arr[i]>max:
        max=arr[i]
print(max)

5

In [16]:
#No of elements in an array using loop
count=0
for i in arr:
    count=count+1
print(count)

5

In [17]:
#Swap first and last
a=[1,2,3,4,5]
size=len(a)
temp=a[0]
a[0]=a[size-1]
a[size-1]=temp

In [18]:
a

[5, 2, 3, 4, 1]

In [19]:
a[0],a[-1]=a[-1],a[0]

In [20]:
a

[1, 2, 3, 4, 5]

In [27]:
# remove nth occurence of a word
a=['geeks','for','geeks']
word='geeks'
n=2

count=0
for i in range(0,len(a)):
    if(a[i]==word):
        count+=1
        if (count==n):
            del a[i]

In [25]:
a

['geeks', 'for']

In [35]:
def reverse(string):
    reversed_string=""
    for i in string:
        print(i+reversed_string)
        reversed_string=i+reversed_string
    return reversed_string

In [36]:
reverse('anu')

a
na
una

'una'

In [37]:
def compute_GCD(a,b):
    if b==0:
        return a 
    else:
        return compute_GCD(b,a%b)

In [38]:
compute_GCD(2,18)

2

In [39]:
import math

In [40]:
math.gcd(64,48)

16

In [46]:
a='anu'
a[::-1]

'una'

In [4]:
import random
num=random.randint(1,101)

In [5]:
print("WELCOME TO GUESS ME!")
print("I'm thinking of a number between 1 and 100")
print("If your guess is more than 10 away from my number, I'll tell you you're COLD")
print("If your guess is within 10 of my number, I'll tell you you're WARM")
print("If your guess is farther than your most recent guess, I'll say you're getting COLDER")
print("If your guess is closer than your most recent guess, I'll say you're getting WARMER")
print("LET'S PLAY!")

WELCOME TO GUESS ME!
I'm thinking of a number between 1 and 100
If your guess is more than 10 away from my number, I'll tell you you're COLD
If your guess is within 10 of my number, I'll tell you you're WARM
If your guess is farther than your most recent guess, I'll say you're getting COLDER
If your guess is closer than your most recent guess, I'll say you're getting WARMER
LET'S PLAY!

In [17]:
guesses=[0]

while True:
    guess=int(input('Enter your guess'))
    if guess<1 or guess>100:
        print('OUT OF BOUNDS! Please try again: ')
        continue
    if guess == num:
        print(f'CONGRATULATIONS, YOU GUESSED IT IN ONLY {len(guesses)} GUESSES!!')
        break
    guesses.append(guess)
    
    
    # when testing the first guess, guesses[-2]==0, which evaluates to False
    # and brings us down to the second section
    
    if guesses[-2]:  
        if abs(num-guess) < abs(num-guesses[-2]):
            print('WARMER!')
        else:
            print('COLDER!')
   
    else:
        if abs(num-guess) <= 10:
            print('WARM!')
        else:
            print('COLD!')

Enter your guess56
COLD!
Enter your guess43
COLDER!
Enter your guess89
WARMER!
Enter your guess9
COLDER!
Enter your guess94
WARMER!
Enter your guess96
WARMER!
Enter your guess99
COLDER!
Enter your guess93
COLDER!
Enter your guess95
WARMER!
Enter your guess97
CONGRATULATIONS, YOU GUESSED IT IN ONLY 9 GUESSES!!

In [16]:
len(guesses)

23

In [1]:
def large_cont_sum(arr):
    if len(arr)==0:
        return 0
    
    curr_sum=arr[0]
    max_sum=arr[0]
    
    for num in arr[1:]:
        curr_sum=max(curr_sum+num,num)
        max_sum=max(curr_sum,max_sum)
    return max_sum

In [2]:
large_cont_sum([1,2,3])

6

In [3]:
large_cont_sum([1,6,-8,2,9])

11

In [4]:
#Problem : AAAABBBBCCCCDDDD -> A4B4C4D4
def compress(s):
    run=""
    length=len(s)
    
    if length==0:
        return""
    if length==1:
        return s+"1"
    count=1
    i=1   #index holder
    while i<length:
        if s[i]==s[i-1]:
            count+=1
        else:
            run=run+s[i-1]+str(count)
            count=1 #resetting so that it starts with next letter
        i+=1
    run=run+s[i-1]+str(count)
    return run

In [6]:
compress('AAAABBBBCCCCDDDD')

'A4B4C4D4'

In [8]:
compress('AAB')

'A2B1'

In [9]:
compress('aaaaaAA')

'a5A2'

In [9]:
def profit(stock_prices):
    
    if len(stock_prices)<2:
        return 'Hey I need more prices'
    
    min_stock_price=stock_prices[0]
    max_profit=0
    
    for price in stock_prices:
        min_stock_price=min(min_stock_price,price)
        
        comparison_profit=price-min_stock_price
        
        max_profit=max(comparison_profit,max_profit)
        
    return max_profit

In [10]:
profit([2,8,10])

8

In [17]:
profit([13,2,4,10])

8

In [11]:
profit([24,22,14,12])

0

In [5]:
#Handles decresing stock prices
def profit2(stock_prices):
    min_stock_price=stock_prices[0]
    max_profit=stock_prices[1]-stock_prices[0]
    
    for price in stock_prices[1:]:
        comparison_profit=price-min_stock_price
        max_profit=max(comparison_profit,max_profit)
        min_stock_price=min(min_stock_price,price)
        
    return max_profit

In [6]:
profit2([2,8,10])

8

In [12]:
profit2([24,2,14,12])

12

Question:
Given 2 non negative arrays we have to find which element is missing
[1,2,3,4,5]
[1,3,4,5]

We have to find 2 is missing

In [40]:
def finder(arr1,arr2):
    arr1.sort()
    arr2.sort()
    if len(arr1)>len(arr2):
        for num1,num2 in zip(arr1,arr2):
            if num1!=num2:
                return num1
        return arr1[-1]
    else:
        for num1,num2 in zip(arr2,arr1):
            if num1!=num2:
                return num1
        return arr2[-1]

In [41]:
finder([1,2,4,5],[1,2,3,4,5])

3

In [42]:
finder([1,2,3,4,5],[1,2,4,5])

3

In [43]:
finder([1,2,3,4,5,6,7],[1,2,3,4,5,6])

7

In [44]:
def finder1(arr1,arr2):
    return sum(arr1)-sum(arr2)

In [47]:
finder1([1,2,3,4,5],[1,2,4,5])

3

In [1]:
def add(a,b):
    assert(a>b)
    assert(b>a)
    print(a/b)

In [2]:
add(4,0)

AssertionError:

In [33]:
class A:
    def __init__(s):
        self.s=s
    def print():
        pass

In [34]:
a=A('John')

TypeError: __init__() takes 1 positional argument but 2 were given

In [93]:
#closest to zero if 2 numbers close then chose greater one(eg;-2 and 2 means 2)


def close(A):
    closest=A[0]
    for i in range(1,len(A)):
        if closest==0:
            return closest
        elif (A[i]>=0 and A[i]<=closest):
            closest=A[i]
        elif (A[i]<0 and -A[i]<closest):
            closest=A[i]
    return closest

In [94]:
close([1,5,3,0,2,4])

0

In [95]:
close([5, 6, 7, 9 ,2,-1])

-1

In [96]:
close([5, 6, 7, 9 ,2,-2])

2

In [1]:
def anagram(s1,s2):
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    
    return sorted(s1)==sorted(s2)

In [2]:
anagram('god','dog')

True

In [3]:
anagram('clint eastwood','old west action')

True

In [5]:
anagram('kel','leku')

False

In [8]:

def anagram2(s1,s2):
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    
    c={}
    #Edge case check
    if len(s1)!=len(s2):
        return ('not an anagram')
    for l in s1:
        if l in c:
            c[l]+=1
        else:
            c[l]=1
    for l in s2:
        if l in c:
            c[l]-=1
        else:
            c[l]=1
    for k in c:
        if c[k]!=0:
            return ('not an anagram')
    return ('Anagram')

In [10]:
anagram2('dog','god')

'Anagram'

In [99]:
def pair_sum(arr,k):
    if len(arr)<2:
        return
    #sets for tracking
    seen=set()
    output=set()
    
    for num in arr:
        target=k-num
        
        if target not in seen:
            seen.add(num)
        else:
            output.add((min(num,target),max(num,target)))
    #return len(output)
    #return output
    print ('\n'.join(map(str,list(output))))
    #print('seen value is ')
    #return seen

In [100]:
pair_sum([1,2,3,2],4)

(1, 3)
(2, 2)

In [50]:
#reverse words in sentence
def reverse(word):
    return ' '.join(word.split()[::-1])

In [54]:
reverse('I am the best')

'best the am I'

In [53]:
def reverse(word):
    return ' '.join(reversed(word.split()))

In [59]:
def rev_word(s):
    words=[]
    length=len(s)
    spaces=[' ']
    
    i=0
    while i < length:
        if s[i] not in spaces:
            word_start=i
            
            while i<length and s[i] not in spaces:
                i+=1
            words.append(s[word_start:i])
        i+=1
        
    return " ".join(reversed(words))

In [60]:
rev_word("How are you")

'you are How'

In [61]:
def uni_char(s):
    return (len(set(s))==len(s))

In [64]:
uni_char('abcd3a')

False

In [67]:
def unichar(s):
    chars=set()
    for let in s:
        if let in chars:
            return False
        else:
            chars.add(let)
    return True

In [68]:
unichar('abcde')

True

In [69]:
 unichar('abcdea')

False

In [164]:
def getsubarraySum(arr,s):
    result=[]
    for i in range(len(arr)):
        result.append(arr[i])
        while(sum(result)>s):
            result.pop(0)
        if(sum(result)==s):
            return result
                
    return []

In [166]:
getsubarraySum(array,18)

[2, 9, 7]

In [1]:
def max_sum_subarr(arr):
    size=len(arr)
    curr_sum=0
    max_so_far=arr[0]
    st=0;end=0;poi=0
    for i in range(0,size):
        curr_sum=curr_sum+arr[i]
        
        if (max_so_far<curr_sum):
            max_so_far=curr_sum
            st=poi
            end=i
        if curr_sum<0:
            curr_sum=0
            poi=i+1
    print('Max sum in sub array is',max_so_far)
    print('start index is',st)
    print('End index is',end)

In [2]:
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]
max_sum_subarr(arr)

Max sum in sub array is 7
start index is 3
End index is 8

In [138]:
def fact(n):
    if n==0:
        return 1
    else:
        print(fact(n-1))
        return n*fact(n-1)

In [2]:
d={1:1,'b':3,3:[1,2]}

In [5]:
d.keys()

dict_keys([1, 'b', 3])

In [1]:
print(set(x%2 for x in range(1,20,3)))

{0, 1}

In [2]:
text.seek(13)

NameError: name 'text' is not defined

In [3]:
t=(10,4,6,5,3)
t.pop(3)
print(t)

AttributeError: 'tuple' object has no attribute 'pop'

In [4]:
p=41
q=450
r=140
print(r//p**2+q)

450

In [2]:
import pandas as pd

In [4]:
df=pd.DataFrame({'A':[10,3,np.NaN]})

NameError: name 'np' is not defined

In [5]:
a=d=m=k=5

In [6]:
if(a<5):
    print(m,k)
else:
    k=2
    print(k,m)
    m=2

2 5

In [7]:
def randomFn(num):
    val=0
    for i in range(len(num)):
        if i==2:
            break
        val=val+int(num[i])
    return val

In [8]:
num='426'

In [10]:
print(randomFn(num))

6

In [11]:
X=(1,2,(3,'John',4),'Hi')

In [12]:
X[2][-1]

4

In [1]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]

In [4]:
grocery=list(zip(fruits,quantities,prices))

In [5]:
grocery

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [11]:

i=0
output=[]
for fruit in fruits:
    temp_qty=quantities[i]
    temp_price=prices[i]
    output.append((fruit,temp_qty,temp_price))
    i+=1

In [12]:
output

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [14]:
num_list = [21,13,19,3,11,5,18]
num_list.sort()

In [15]:
num_list

[3, 5, 11, 13, 18, 19, 21]

In [16]:
num_list[len(num_list)//2]

13

In [24]:
y='stuff;thing;junk;'

In [25]:
y.split(';')

['stuff', 'thing', 'junk', '']

In [31]:
7//2

3

In [17]:
for i in range(5):
    for j in range(i+1):
        print(j,end=" ")
    for j in range(i,5):
        print("*",end=" ")
    print("")

0 * * * * *
0 1 * * * *
0 1 2 * * *
0 1 2 3 * *
0 1 2 3 4 *

In [4]:
def palindrome(s):
    s=s.lower()
    if s==s[::-1]:
        print('Its a palindrome')
    else:
        print('Not a palindrome')

In [5]:
palindrome('Anu')

Not a palindrome

In [6]:
palindrome('Nitin')

Its a palindrome

In [9]:
def palindrome(s):
    n=len(s)
    for i in range(n):
        if s[i]!=s[n-i-1]:
            return False
    return True

In [11]:
palindrome('NitiN')

True

In [20]:
a='dad'
s=reversed(a)

In [21]:
for i in s:
    print(i)

d
a
d

In [22]:
temp=''.join(reversed(a))

In [27]:
#Palindrome using while loop
def palindrome(s):
    n=len(s)
    first=0
    last=n-1
    while first<last:
        if s[first]==s[last]:
            first+=1
            last-=1
        else:
            return False
    return True

In [28]:
palindrome('anu')

False

In [31]:
#Palindrome of number(not preferable)
def palnum(n):
    s=str(n)
    temp=s[::-1]
    if s==temp:
        print('palindrome')
    else:
        print('not a pal')

In [34]:
palnum(12321)

palindrome

In [56]:
#Using while loop
def palnum(n):
    temp=n
    rev_n=0
    #eg: number :1234
    while (temp>0):
        digit=temp%10 #4
        rev_n=rev_n*10+digit
        #print('revnum',rev_n)
        temp=temp//10
        
    if n==rev_n:
        print('Palindrome')
    else:
        print('Not palindrome')

In [57]:
palnum(12321)

Palindrome

In [80]:
#Fibonacci series
#INstead of while we can use  for i in range(2,n)
def fibo(n):
    a=0
    b=1
    i=0
    print(a,b)
    while(i<n-2):
        c=a+b
        a=b
        b=c
        print(c)
        i+=1
    #print(c)

In [81]:
fibo(11)

0 1
1
2
3
5
8
13
21
34
55

In [67]:
#Suppose we want fibonacc for numbers till 50 means
def fibo(n):
    a,b=0,1
    print(a)
    while b<n:
        print(b)
        c=a+b
        a=b
        b=c

In [68]:
fibo(60)

0
1
1
2
3
5
8
13
21
34
55

In [74]:
#Fibonacci series using recursion. This will print total sum of fibonacci upto n terms
def fibrec(n):
    if n<=1:
        return n
    else:
        return (fibrec(n-1)+fibrec(n-2))

In [75]:
fibrec(7)

13

In [71]:
#To print fibonacci series as such using this 
n=10
if n<=0:
    print('Invalid')
else:
    for i in range(n):
        print(fibrec(i))

0
1
1
2
3
5
8
13
21
34

In [106]:
#Compress string for loop
def compress(s):
    n=len(s)
    new_s=''
    count=1
    for i in range(n-1):
        if s[i]==s[i+1]:
            count+=1
        else:
            new_s=new_s+s[i]+str(count)
            count=1
    new_s=new_s+s[n-1]+str(count)
    return new_s

In [107]:
compress('AAABBB')

'A3B3'

In [103]:
compress('AAAABBBBCCCCDDD')

'A4B4C4D3'

In [110]:
#FizzBuzz using Dictionary - Best approach will be usual i%3==0 and i%5==0:print(fizzbuzz') etc..
def fizzbuzz(n):
    d={3:'fizz',5:'buzz'}
    for i in range(1,n+1):
        result=''
        for k,v in d.items():
            if i%k==0:
                result+=v
        if not result:
            result=i
        print(result)

In [111]:
fizzbuzz(16)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16

In [112]:
#character occurence
#1.Least repeating character in a string
#2.Count of any particular element
#3. Count of all elements

In [119]:
#Least repeating character in a string
def least_occur(s):
    ch={}
    for i in s:
        if i in ch:
            ch[i]=ch[i]+1
        else:
            ch[i]=1
    print(ch) #print no of occurence of all char
    result=min(ch,key=ch.get)
    return result

In [120]:
s='aaabbbcccdd'
least_occur(s)

{'a': 3, 'b': 3, 'c': 3, 'd': 2}

'd'

In [6]:
#using inbuilt counter function
from collections import Counter
s='aaabbbfffgggkkdd'
ch=Counter(s)
result=min(ch,key=ch.get)

In [7]:
ch

Counter({'a': 3, 'b': 3, 'f': 3, 'g': 3, 'k': 2, 'd': 2})

In [8]:
result

'k'

In [10]:
#Count of any particular element
#By using count(for string,number,list)
l=[1,2,3,1,2,1,2,2,1,2,4,4,6]
print(l.count(2))

5

In [12]:
s='aghbfegjbasah'
print(s.count('b'))

2

In [19]:
#Without using count 
def count_char(s,search):
    ch={}
    for i in s:
        if i in ch:
            ch[i]=ch[i]+1
        else:
            ch[i]=1
    print(ch)
    try:
        print(ch[search])
    except:
        print(0)

In [20]:
count_char(s,'b')

{'a': 3, 'g': 2, 'h': 2, 'b': 2, 'f': 1, 'e': 1, 'j': 1, 's': 1}
2

In [21]:
count_char(s,'z')

{'a': 3, 'g': 2, 'h': 2, 'b': 2, 'f': 1, 'e': 1, 'j': 1, 's': 1}
0

In [24]:
a=[1,2,3,1,2,2,2]
count_char(a,2)

{1: 2, 2: 4, 3: 1}
4

In [25]:
def prime(n):
    flag=False
    if n>1:
        for i in range(2,n):  #can give(2,(n//2+1))
            if n%i==0:
                flag=True
                break
    if flag:
        return "Not a prime"
    else:
        return "prime"

In [27]:
prime(8)

'Not a prime'

In [28]:
#using for else
def prime(n):
    if n>1:
        for i in range(2,n//2+1):
            if n%i==0:
                print("not a prime")
                break
        else:
            print("prime")
    else:#for 0 and 1
        print('not a prime')

In [31]:

prime(14)

not a prime

In [37]:
# prime numbers within given range
def prime2(start,end):
    for n in range(start,end):
        if n>1:
            for i in range(2,n):
                if n%i==0:
                    break
            else:
                print(n)

In [38]:
prime2(1,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [49]:
#Convert _ to . and upper to lower and lower to upper
#eg: I_Am_Anu -> output should be i.aM.aNU

#using list
def string_format(s):
    l=[]
    temp=s.split('_')
    for i in temp:
        l.append(i[0].lower()+i[1:].upper())
    print(l)
    s='.'.join(l)
    print(s)

In [50]:
s='I_Am_Anu'
string_format(s)

['i', 'aM', 'aNU']
i.aM.aNU

In [53]:
#using string
def string_format1(s):
    new_s=''
    temp=s.split('_')
    for i in temp:
        new_s=new_s+i[0].lower()+i[1:].upper()+'.'
    #To remove the dot coming at end of string
    new_s=new_s[:-1]
    print(new_s)

In [54]:
s='I_Am_Anu'
string_format1(s)

i.aM.aNU

In [55]:
#Second largest number 
#Using for loop
def second_high(l):
    if l[0]>l[1]:
        first=l[0]
        second=l[1]
    else:
        first=l[1]
        second=l[0]
    for i in range(2,len(l)):
        if l[i]>first:
            second=first
            first=l[i]
        elif l[i]>second and first!=l[i]: #check for having 2 same first numbers
            second=l[i]
    return second

In [56]:
second_high([10,20,30,4,50,60,60])

50

In [57]:
#second highest using reverse sort
def second_high1(l):
    l.sort()
    print(l[-2])
    
    #We can also write l.sort(reverse=True) print(l[1])

In [59]:
second_high1([10,20,30,4,50,60])

50

In [68]:
#Inorder to account for repeating values first convert to set to remove duplicates then back to list
def second_high1(l,n):
    a=set(l)
    l=list(a)
    l.sort(reverse=True)
    #AS array starts with 0, give n-1 
    print(l[n-1])

In [72]:
#Third highest number
second_high1([10,20,30,4,50,60,60],2)

50

In [73]:
#Armstrong numbers in given interval
def armstrong(start,end):
    for n in range(start,end):
        sum=0
        temp=n
        while temp>0:
            digit=temp%10
            sum=sum+(digit**3)
            temp=temp//10
        if n==sum:
            print(n)

In [74]:
armstrong(0,500)

0
1
153
370
371
407

In [22]:
def factorial(n):
    sum=1
    for i in range(1,n+1):
        sum=sum*i
    return sum

In [23]:
factorial(5)

120

In [3]:
factorial(6)

720

In [28]:
#factorial 145=1!+4!+5!=1+24+120
def sum_factorial(n):
    temp=n
    sum1=0
    while(temp>0):
        digit=temp%10
        temp=temp//10
        facto=factorial(digit)
        print('facto',facto)
        sum1=sum1 +facto
        print('sum1', sum1)
    if sum1==n:
        print('yes')
    else:
        print('no')

In [29]:
sum_factorial(145)

facto 120
sum1 120
facto 24
sum1 144
facto 1
sum1 145
yes

In [30]:
# list of numbers with sum of factorial
def list_facto(start,end):
    for n in range(start,end):
        temp=n
        sum=0
        while temp>0:
            digit=temp%10
            temp=temp//10
            facto=factorial(digit)
            sum=sum+facto
        if sum==n:
            print(n)

In [33]:
list_facto(1,50000)

1
2
145
40585

In [1]:
print('hello')

hello

In [2]:
rating=[4,3,3]
def pr():
    rating={4,3,3}
    print(rating)

In [3]:
pr()

{3, 4}

In [4]:
p1=121426
p2=523563
print(p1>=p2==p1)

False

In [5]:
sum=0
for i in range(5):
    if i%2==0:
        sum=sum+i
    else:
        sum=sum-i
print(sum)

2

In [6]:
for i in range(5):
    if i%2==0:
        print(i,sep='x',end=" ")
    elif i%3==0:
        print(i,end=' ')
    else:
        print(i,end='+')

0 1+2 3 4

In [2]:
Hello=print('Hi')
print('How are you?')

Hi
How are you?

In [3]:
def funA(x,y):
    return x+y
def funB(x,y):
    return x-y

In [5]:
class Asssess:
    def __init__(self):
        print("Hello Himan")
        print("Hello Gyn")
        
    def __init__(self):
        print("Hello Himan")
        print("Hello Tan")
        
obj=Asssess()

Hello Himan
Hello Tan

In [1]:
import random
random.choice([1,2,3])

1

In [2]:
import numpy as np

In [3]:
s=np.array([[1,2],[3,4]])

In [4]:
s

array([[1, 2],
       [3, 4]])

In [6]:
s.sum(axis=1)

array([3, 7])

In [8]:
num=1234
count=0
temp=num
while temp>0:
    temp=temp//10
    count=count+1
print(count)

4

In [1]:
from functools import reduce
sequences=[5,8,10,15,20]
sum=reduce(lambda x,y:x+y,sequences)
print(sum)

58

In [15]:
q=[1,2,3,4,5]
s=list(filter(lambda i:i%2==0,q))

In [16]:
s

[2, 4]

In [17]:
s=list(map(lambda x:x+x,q))

In [18]:
s

[2, 4, 6, 8, 10]

In [21]:
import numpy as np

In [22]:
n1=np.array([10,20,30,40,50])
n2=np.array([1,2,3,4,5])

In [25]:
print(np.vstack((n1,n2)))

[[10 20 30 40 50]
 [ 1  2  3  4  5]]

In [26]:
print(np.hstack((n1,n2)))

[10 20 30 40 50  1  2  3  4  5]

In [27]:
import unittest

In [32]:
def prod(a,b):
    return a*b

class test(unittest.TestCase):
    def test(self):
        self.assertEqual(prod(5,4),20)
        
if __name__== '__main__':
    unittest.main()

E
======================================================================
ERROR: C:\Users\91999\AppData\Roaming\jupyter\runtime\kernel-594d5d72-4cc4-44f2-b61e-f64503b93e86 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\91999\AppData\Roaming\jupyter\runtime\kernel-594d5d72-4cc4-44f2-b61e-f64503b93e86'

----------------------------------------------------------------------
Ran 1 test in 0.001s

FAILED (errors=1)

SystemExit: True

C:\Users\91999\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [34]:
#perfect number all the divisors should add upto that number
#eg: 6->1+2+3,28=>1+2+4+7+14
num=int(input('Enter a number'))
sum=0
for i in range(1,num):
    if (num%i==0):
        sum=sum+i
if (sum==num):
    print(num,'is a perfecct number')
else:
    print('Not a perfect number')

Enter a number12
Not a perfect number

In [35]:
#break list into chunks
lst=[1,2,3,4,5,6,7,8,9,0,1,2]
n=4
out=[lst[i:i+n] for i in range(0,len(lst),n)]

In [36]:
out

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 0, 1, 2]]

In [2]:
num=2.5
num=-num
if num>0:
    print(num)
else:
    num=-num
    print(num)

2.5

In [3]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,3,4,5]})

In [4]:
for i in range(5):
    if i%2==0:
        print(i,sep='x',end='')
    else:
        print(i,end='+')

01+23+4

In [5]:
list1=[1,2,3,4,5,6,7,8,9]
list1.pop(3)

4