In [3]:
def word_split(phrase,list_of_words,output=None):
    if output is None:
        output=[]
    for word in list_of_words:
        if phrase.startswith(word):
            output.append(word)
            return word_split(phrase[len(word):],list_of_words,output)
    return output

In [31]:
word_split('love I dog John',['I','am','love',' ','dogs','lover','John'])

['love', ' ', 'I', ' ']

In [17]:
#Recursion
def sum_func(n):
    sum=0
    while (n!=0):
        sum=sum+(n%10)
        n=n//10
    return sum

In [18]:
sum_func(1234)

10

In [25]:
#Converting as string and getting sum
def getsum(n):
    sum=0
    for i in str(n):
        sum=sum+int(i)
    return sum

In [26]:
getsum(1234)

10

In [27]:
a='Anu is a good girl'

In [29]:
[a for a in a.split()]

['Anu', 'is', 'a', 'good', 'girl']

In [30]:
[a for a in a]

['A',
 'n',
 'u',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'g',
 'o',
 'o',
 'd',
 ' ',
 'g',
 'i',
 'r',
 'l']

In [33]:
s='anu'
s[::-1]

'una'

In [34]:
#recursive
def reverse(s):
    if len(s)<=1:
        return s
    return reverse(s[1:])+s[0]

In [36]:
reverse('anu')

'una'

In [51]:
#All possible permuations of given string
import itertools
def permute(s):
    for p in itertools.permutations(s):
        print(p)

In [52]:

permute('ABC')

('A', 'B', 'C')
('A', 'C', 'B')
('B', 'A', 'C')
('B', 'C', 'A')
('C', 'A', 'B')
('C', 'B', 'A')

In [53]:
from itertools import permutations
string,length=input().split()
output=[''.join(i) for i in permutations(string,int(length))]
output.sort()
print('\n'.join(output))

hack 2
ac
ah
ak
ca
ch
ck
ha
hc
hk
ka
kc
kh

In [2]:
from itertools import permutations
def permute(s):
    output=[''.join(i) for i in permutations(s)]
    output.sort()
    print('\n'.join(output))

In [58]:
permute('ABC')

ABC
ACB
BAC
BCA
CAB
CBA

In [3]:
output=[''.join(i) for i in permutations('ABC')]

In [4]:
output

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [62]:
#Recursive permutation
def permute(s):
    out=[]
    #Base case 
    if len(s)==1:
        out=[s]
    else:
        for i,let in enumerate(s):
            for perm in permute(s[:i]+s[i+1:]):
                out+=[let+perm]
    return out

In [63]:
permute('abc')

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [5]:
a=[5,2,2,8,5,6,8,8]

In [99]:
b=sorted(a)

In [103]:
c=sorted(b,key=lambda i:b.count(i),reverse=True)

In [104]:
c

[8, 8, 8, 2, 2, 5, 5, 6]

In [6]:
#If we don't want to change ordering then
#key is a function that will be called to transform the collection's items before they are compared.
b=sorted(a,key=lambda i:a.index(i))

In [7]:
b

[5, 5, 2, 2, 8, 8, 8, 6]

In [106]:
c=sorted(b,key=lambda i:b.count(i))

In [107]:
c

[6, 5, 5, 2, 2, 8, 8, 8]

In [108]:
st='Hello how are'

In [109]:
st.split()[::-1]

['are', 'how', 'Hello']

In [111]:
#Total number of ways a person can climb steps either onestep at a time or 2 step
def climb_stairs(n):
    one,two=1,1
    
    for i in range(n-1):
        temp=one
        one=one+two
        two=temp
    return one

In [113]:
climb_stairs(7)

21

In [118]:
#Armstrong number
def armstrong(n):
    sum=0
    temp=n
    while temp>0:
        digit=temp%10
        sum=sum+digit**3
        temp=temp//10
    if n==sum:
        print('Armstrong')
    else:
        print('Not an Armstron')

In [119]:
armstrong(370)

Armstrong

In [122]:
armstrong(408)

Not an Armstron

In [133]:
#N queen problem
def solveNqueens(n):
    col=set()
    posdiag=set()
    negdiag=set()
    
    res=[]
    board=[['.']*n for i in range(n)]
    
    def backtrack(r):
        if r==n:
            copy=[''.join(row) for row in board]
            res.append(copy)
            return
        
        for c in range(n):
            if c in col or (r+c) in posdiag or (r-c) in negdiag:
                continue
            col.add(c)
            posdiag.add(r+c)
            negdiag.add(r-c)
            board[r][c]='Q'
                        
            backtrack(r+1)
           
            col.remove(c)
            posdiag.remove(r+c)
            negdiag.remove(r-c)
            board[r][c]='.'
    backtrack(0)
    return res

In [136]:
solveNqueens(4)

[['.Q..', '...Q', 'Q...', '..Q.'], ['..Q.', 'Q...', '...Q', '.Q..']]

In [3]:
def index_prod(lst):
    output=[None]*len(lst)
    
    product=1
    i=0
    #First pass- product before each index
    while i<len(lst):
        output[i]=product
        product*=lst[i]
        i+=1
        
    product=1
    i=len(lst)-1
    #combining second pass product after each index
    while i>=0:
        output[i]*=product
        product*=lst[i]
        i-=1
    return output

In [4]:
index_prod([1,2,3,4,5])

[120, 60, 40, 30, 24]

In [5]:
 def calc_overlap(coor1,dim1,coor2,dim2):
        greater=max(coor1,coor2)
        lower=min(coor1+dim1,coor2+dim2)
        
        if greater>=lower:
            return (None,None)
        
        overlap=lower-greater
        return(greater,overlap)

In [9]:
def calc_rect_overlap(r1,r2):
    x_overlap,w_overlap=calc_overlap(r1['x'],r1['w'],r2['x'],r2['w'])
    y_overlap,h_overlap=calc_overlap(r1['y'],r1['h'],r2['y'],r2['h'])
    
    if not w_overlap or not h_overlap:
        print('No overlap')
        return None
    
    return {'x':x_overlap,'y':y_overlap,'w':w_overlap,'h':h_overlap}

In [10]:
r1={'x':2,'y':4,'w':5,'h':12}
r2={'x':1,'y':5,'w':7,'h':14}
calc_rect_overlap(r1,r2)

{'x': 2, 'y': 5, 'w': 5, 'h': 11}

In [11]:
#Less efficient way takes long time to process because of recursive call
def rec_coin(target,coins):
    min_coins=target
    
    if target in coins:
        return 1
    else:
        #For every coin value<=target
        for i in [c for c in coins if c<=target]:
            #Add a coin count+Recursive call
            num_coins=1+rec_coin(target-i,coins)
            
            if num_coins< min_coins:
                min_coins=num_coins
    return min_coins

In [12]:
rec_coin(10,[1,2,5])

2

In [16]:
def rec_coin_dynam(target,coins,known_results):
    min_coins=target
    
    if target in coins:
        known_results[target]=1
        return 1
    #Return known result if >1
    elif known_results[target]>0:
        return known_results[target]
    else:
        for i in [c for c in coins if c<=target]:
            num_coins=1+rec_coin_dynam(target-i,coins,known_results)
            
            #reset minimuum if we have new min
            if num_coins<min_coins:
                min_coins=num_coins
                #Reset that known result
                known_results[target]=min_coins
    return min_coins

In [19]:
target=74
coins=[1,5,10,25]
known_results=[0]*(target+1)
rec_coin_dynam(target,coins,known_results)

8

In [3]:
#no of ways we can get total coins. Here n refers target amount
def way_coin(n,coins):
    arr=[1]+[0]*n
    #if a,b,c we are doing X-a+a to get X for a,b,c and summing thwm all
    for coin in coins:
        for i in range(coin,n+1):
            arr[i]+=arr[i-coin]
                        
    if n==0:
        return 0
    else:
        return arr[n]

In [4]:
way_coin(7,[1,2,5])

1 1
1 1
1 1
1 1
1 1
1 1
1 1
2 2
2 2
3 2
3 2
4 2
4 2
4 5
5 5
6 5

6

In [26]:
#Remove duplicates tree traversal -> op: tre avsl
def remove_duplicates(s):
    result=[]
    seen=set()
    
    for i in s:
        if i not in seen:
            seen.add(i)
            result.append(i)
    
    return ''.join(result)

In [27]:
remove_duplicates('tree traversal')

'tre avsl'

In [28]:
def pair_sum(lst,target):
    seen=set()
    for num in lst:
        num2=target-num
        if num2 in seen:
            return True
        seen.add(num2)
    return False

In [37]:
#From the list of duplicate account ids find only the unique ids. This solution will work if there is only one unique id 
#Otherwise it will give sum of unique ids
def uniqueId(id_list):
   #Initiate unique id to 0
    unique_id=0
    
    #XOR for every id in id list
    for id in id_list:
        unique_id^=id
    return unique_id

In [41]:
uniqueId([1,2,3,1,2])

3

In [8]:
a = [[1,3, 2,3],[4,3,5,6],[7,8,9,3],[1,2,3,4]]
b = [[1,0,0,0],[0,1,0,0],[0,0,1,0],[0,0,0,1]]

In [9]:
len(b)

4

In [11]:
#Matrix Multiplication
def matrix(a,b):
    if len(a)==len(b):
        result=[]
        temp_row=len(b[0])*[0]
        for r in range(len(a)):
            result.append(temp_row[:])
        
        for i in range(len(a)):
            for j in range(len(b)):
                add=0
                for k in range(len(a)):
                    add=add+a[i][k]*b[k][j]
                result[i][j]=add
        return result
    else:
        print('Matrix Multiplication not possible')

In [12]:
matrix(a,b)

[[1, 3, 2, 3], [4, 3, 5, 6], [7, 8, 9, 3], [1, 2, 3, 4]]

In [18]:
result=[]
temp_row=len(b[0])*[0]
for r in range(len(a)):
    result.append(temp_row[:])
print(result)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [19]:
temp_row

[0, 0, 0, 0]

In [20]:
# X (3X3) & Y (3X4) can be multiplied
# Y (3X4) & Z (2X6) cannot be multiplied  
import numpy as np
np.dot(a,b)

array([[1, 3, 2, 3],
       [4, 3, 5, 6],
       [7, 8, 9, 3],
       [1, 2, 3, 4]])

In [16]:
#Implementing count vectorizer
docA = "The cat sat on my face"
docB = "The dog sat on my bed"

In [17]:
bowA=docA.split()
bowB=docB.split()

In [18]:
tbow=set(bowA).union(bowB)

In [19]:
tbow

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [20]:
worddictA=dict.fromkeys(tbow,0)
worddictB=dict.fromkeys(tbow,0)

In [21]:
worddictA

{'cat': 0, 'sat': 0, 'my': 0, 'on': 0, 'bed': 0, 'dog': 0, 'face': 0, 'The': 0}

In [7]:
for word in bowA:
    worddictA[word]+=1
for word in bowB:
    worddictB[word]+=1

In [8]:
worddictA

{'on': 1, 'dog': 0, 'bed': 0, 'sat': 1, 'face': 1, 'cat': 1, 'The': 1, 'my': 1}

In [9]:
import pandas as pd
pd.DataFrame([worddictA,worddictB])

   on  dog  bed  sat  face  cat  The  my
0   1    0    0    1     1    1    1   1
1   1    1    1    1     0    0    1   1

In [10]:
#TFIDF
def computeTF(worddict,bow):
    tfdict={}
    bowcount=len(bow)
    for word,count in worddict.items():
        tfdict[word]=count/float(bowcount)
    return tfdict

In [11]:
tfA=computeTF(worddictA,bowA)
tfB=computeTF(worddictB,bowB)

In [12]:
tfA

{'on': 0.16666666666666666,
 'dog': 0.0,
 'bed': 0.0,
 'sat': 0.16666666666666666,
 'face': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'The': 0.16666666666666666,
 'my': 0.16666666666666666}

In [18]:
import math
def computeIDF(doclist):
    idf={}
    N=len(doclist)
    idf=dict.fromkeys(doclist[0].keys(),0)
    for doc in doclist:
        for word,count in doc.items():
            if count>0:
                idf[word]+=1
    for word,count in idf.items():
        idf[word]=math.log10(N/float(count))
    return idf

In [19]:
idfs=computeIDF([worddictA,worddictB])

In [20]:
idfs

{'on': 0.0,
 'dog': 0.3010299956639812,
 'bed': 0.3010299956639812,
 'sat': 0.0,
 'face': 0.3010299956639812,
 'cat': 0.3010299956639812,
 'The': 0.0,
 'my': 0.0}

In [21]:
def compute_tfIDF(tf,idfs):
    tfidf={}
    for word,count in tf.items():
        tfidf[word]=count*idfs[word]
    return tfidf

In [25]:
tfidfA=compute_tfIDF(tfA,idfs)
tfidfB=compute_tfIDF(tfB,idfs)

In [23]:
tfidfA

{'on': 0.0,
 'dog': 0.0,
 'bed': 0.0,
 'sat': 0.0,
 'face': 0.050171665943996864,
 'cat': 0.050171665943996864,
 'The': 0.0,
 'my': 0.0}

In [26]:
import pandas as pd
pd.DataFrame([tfidfA,tfidfB])

    on       dog       bed  sat      face       cat  The   my
0  0.0  0.000000  0.000000  0.0  0.050172  0.050172  0.0  0.0
1  0.0  0.050172  0.050172  0.0  0.000000  0.000000  0.0  0.0

In [41]:
#Replace numbers with # and remaininig characters with spaces
#INPUT'S
A = "234" 
B = "a2b3c4" 
C = "abc" 
D = "#2a$#b%c%561#"
import re
def replace(s):
    s=re.sub(r'[^0-9]','',str(s))
    s=re.sub(r'\d','#',s)
    return s

In [42]:

replace(C)

''

In [43]:
replace(D)

'####'

In [44]:
a=1234
replace(a)

'####'

In [45]:
replace(A)

'###'

In [46]:
Students=['student1','student2','student3','student4','student5','student6','student7','student8','student9','student10'] 
Marks = [45, 78, 12, 14, 48, 43, 47, 98, 35, 80]

In [55]:
def get_student(student,marks):
    sdict=dict(zip(student,marks))
    
    print("Students who got top 5 ranks")
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1],reverse=True)[:5]:
        print("%s: %s" % (stud, marks))
    print("Students who got bottom 5 ranks")
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1])[:5]:
        print("%s: %s" % (stud, marks))
    print("Students who got between 25 and 75%")
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1]):
        percentage=marks*100.0/100
        if 25<percentage<75:
            print(f'{stud}:{marks}')

In [56]:
get_student(Students,Marks)

Students who got top 5 ranks
student8: 98
student10: 80
student2: 78
student5: 48
student7: 47
Students who got bottom 5 ranks
student3: 12
student4: 14
student9: 35
student6: 43
student1: 45
Students who got between 25 and 75%
student9:35
student6:43
student1:45
student7:47
student5:48

In [80]:
import math

P = (3,4)
S = [(2,-1), (5,3),(4,-1),(2,1),(2,-3),(-1,2),(-3,4),(-4,2)]
distance = {}

def close_points(point,point_list):
    for i in range(len(point_list)):
        d = math.acos(((point_list[i][0]*point[0])+(point_list[i][1]*point[1]))/((math.sqrt((point_list[i][0]**2)+(point_list[i][1]**2))) *(math.sqrt((point[0]**2)+(point[1]**2)))))
        distance[point_list[i]] = d
    
    
    dis = sorted(distance.values())[:5]
    
    print("Closes point from P :")
    for m in dis:
        print("Distance from P(3,4) point to the {}".format(list(distance.keys())[list(distance.values()).index(m)]))
    for key, value in sorted(distance.items(), key=lambda item: item[1])[:5]:
        print(f'Closest distance point is {key}')

In [81]:
close_points(P,S)

Closes point from P :
Distance from P(3,4) point to the (5, 3)
Distance from P(3,4) point to the (2, 1)
Distance from P(3,4) point to the (-1, 2)
Distance from P(3,4) point to the (4, -1)
Distance from P(3,4) point to the (-3, 4)
Closest distance point is (5, 3)
Closest distance point is (2, 1)
Closest distance point is (-1, 2)
Closest distance point is (4, -1)
Closest distance point is (-3, 4)

In [83]:
#Count lower,upper,digit and special characters
s=input('Enter a string')

lowerc=0
upperc=0
digitc=0
specialc=0

for char in s:
    if char.islower():
        lowerc+=1
    elif char.isupper():
        upperc+=1
    elif char.isdigit():
        digitc+=1
    else:
        specialc+=1
        
print('Lower count:',lowerc)
print('Upper count:',upperc)
print('Digit Count:',digitc)
print('Special char count:',specialc)

Enter a stringHello!1
Lower count: 4
Upper count: 1
Digit Count: 1
Special char count: 1

In [87]:
#To find if an array contains element > 30
mylist1=[23,56,88]
mylist2=[21,22,26]

import numpy as np
mylist1=np.array(mylist1)
mylist2=np.array(mylist2)

In [95]:
((mylist1>30).sum()>0).astype(int)

1

In [96]:
((mylist2>30).sum()>0).astype(int)

0

In [100]:
r=list(filter(lambda x:x>30,mylist1))

In [101]:
r

[56, 88]

In [102]:
import re

green =[(5,2),(2,1),(2,5)]
red  =[(-2,-3),(-1,-4)]
lines =["1x+1y+0","1x-1y+0","1x+0y-4","0x-1y-2"]

In [109]:
def clf_classes(a,b,c):
    gr=[]
    rd=[]
    for i in range(len(green)):
        g=((a*green[i][0])+b*green[i][1]+c)
        gr.append(g)
    for i in range(len(red)):
        r=((a*red[i][0])+b*red[i][1]+c)
        rd.append(r)
        print('gr',gr)
        print('rd',rd)
    finalrd=all(j>0 for j in rd)
    finalgr=all(j<0 for j in gr)
    if (finalgr==True and finalrd==True):
        print("classified using line{}x+{}y+c".format(a,b,c))
    else:
        print('Not classified')
for line in lines:
    a,b,c=[int(x.strip()) for x in re.split('x|y',line)]
    clf_classes(a,b,c)

gr [7, 3, 7]
rd [-5]
gr [7, 3, 7]
rd [-5, -5]
Not classified
gr [3, 1, -3]
rd [1]
gr [3, 1, -3]
rd [1, 3]
Not classified
gr [1, -2, -2]
rd [-6]
gr [1, -2, -2]
rd [-6, -5]
Not classified
gr [-4, -3, -7]
rd [1]
gr [-4, -3, -7]
rd [1, 2]
classified using line0x+-1y+c

Operations on sentences
You will be given two sentances S1, S2 your task is to find

a. Number of common words between S1, S2
b. Words in S1 but not in S2
c. Words in S2 but not in S1
Ex:

S1= "the first column F will contain only 5 unique values"
S2= "the second column S will contain only 3 unique values"
Output:
a. 7
b. ['first','F','5']
c. ['second','S','3']

In [115]:
def common_words(s1,s2):
    a=[]
    for i in s1.split():
        for j in s1.split():
            if (i==j):
                a.append(i)
    print(len(a))
    b=list(set(s1.split())-set(s2.split()))
    c=list(set(s2.split())-set(s1.split()))
    print(b)
    print(c)

In [116]:
S1= "the first column F will contain only 5 uniques values"
S2= "the second column S will contain only 3 uniques values"
common_words(S1,S2)

10
['5', 'F', 'first']
['3', 'S', 'second']

In [131]:
s='daabacada'

In [125]:
''.join(sorted(s))

'aaaaabbcd'

In [132]:
b=sorted(s,key=lambda i:s.index(i))

In [133]:
b

['d', 'd', 'a', 'a', 'a', 'a', 'a', 'b', 'c']

In [155]:
#minimum number of days to eat oranges. Either 1 or n/2 or 2n/3
def min_days(n):
    dp={0:0,1:1}
    def dfs(n):
        if n in dp:
            return dp[n]
        one=1+(n%2)+dfs(n//2)
        two=1+(n%3)+dfs(n//3)
        dp[n]=min(one,two)
        print(dp)
        return dp[n]
    return dfs(n)

In [156]:
min_days(17)

{0: 0, 1: 1, 2: 2}
{0: 0, 1: 1, 2: 2, 4: 3}
{0: 0, 1: 1, 2: 2, 4: 3, 8: 4}
{0: 0, 1: 1, 2: 2, 4: 3, 8: 4, 5: 4}
{0: 0, 1: 1, 2: 2, 4: 3, 8: 4, 5: 4, 17: 6}

6

In [157]:
def min_days(n):
    if (n==0):
        return 0
    if (n==1):
        return 1
    one=1+(n%2)+min_days(n//2)
    two=1+(n%3)+min_days(n//3)
    result=min(one,two)
    return result

In [158]:
min_days(17)

6

In [3]:
s='Levelheaded Llama'.split()

In [8]:
s[0][0]

'L'

In [9]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [10]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [11]:

def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [12]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [13]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [14]:
paper_doll('Hello')

'HHHeeellllllooo'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [15]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [16]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [18]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [19]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [20]:
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [21]:
#Multiply all numbers in a list
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

In [22]:
multiply([1,2,3,-4])

-24

In [23]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [24]:
#Challenge1
def getNumberOfOptions(priceOfJeans, priceOfShoes, priceOfSkirts, priceOfTops, budgeted):
    # Write your code here
    result = 0
    a = sorted([i+j for i,j in itertools.product(priceOfJeans,priceOfShoes)])
    b = sorted([i+j for i,j in itertools.product(priceOfSkirts,priceOfTops)])
    
    for i in a:
        if i>= budgeted:
            break
        j = bisect.bisect_right(b,budgeted-i)
        
        result+=j
    
    return result

In [25]:
# Complete the 'getNumberOfOptions' function below.
#
# The function is expected to return a LONG_INTEGER.
# The function accepts following parameters:
#  1. INTEGER_ARRAY priceOfJeans
#  2. INTEGER_ARRAY priceOfShoes
#  3. INTEGER_ARRAY priceOfSkirts
#  4. INTEGER_ARRAY priceOfTops
#  5. INTEGER budgeted
#

def getNumberOfOptions(priceOfJeans, priceOfShoes, priceOfSkirts, priceOfTops, budgeted):
    jeansAndShoes = []
    for jeans in priceOfJeans:
        for shoes in priceOfShoes:
            jeansAndShoes.append(jeans + shoes)
    
    skirtsAndTops = []
    for skirts in priceOfSkirts:
        for tops in priceOfTops:
            skirtsAndTops.append(skirts + tops)
    
    jeansAndShoes.sort(reverse = True)
    skirtsAndTops.sort()
    
    num_options = 0
    limit = 0
    for cost in jeansAndShoes:
        remains = budgeted - cost
        while (limit < len(skirtsAndTops) and skirtsAndTops[limit] <= remains):
            limit+= 1
        num_options += limit
    
    return num_options

In [26]:
#String starts and ends with same letter
import re

# Take the number of strings you want to take from keyboard
x = int(input())

# The input list where all the inputs can be kept
list_of_strings = []

# initialize the regular expression
regex = r'^[a-z]$|^([a-z]).*\1$'

# Take the inputs from keyboard - the strings
for y in range(x):
    input_string = input()
    list_of_strings.append(input_string)
 
# Validate against the regular expression & Print TRUE and FALSE
for y in range(x):
    if (re.search(regex, list_of_strings[y])):   
        print("TRUE")   
    else:   
        print("FALSE")

ababa

ValueError: invalid literal for int() with base 10: 'ababa'

In [27]:
# Find the size of the list/Define size function
def size():
    return len(list_of_numbers)

# Define pop operation
def pop():
    if (len(list_of_numbers) > 0):
        pop_element = list_of_numbers.pop()
        return list_of_numbers

# Append element - First, it removes all elements from the list that have greater values than value, starting from the last one. 
# Once there are no greater elements in the list, it appends value to the end of the list.
def append(value):
    if (len(list_of_numbers) > 0):
        list_of_numbers.sort() 
        while list_of_numbers[-1] > value:
                list_of_numbers.pop()
            list_of_numbers.append(value)
    else:
        list_of_numbers.append(value)

In [28]:
def calleft(stockData,n):
    S = []
    ans_lft=[]
    i=0
    while i<n:
        while (len(S) > 0 and S[-1][0] >= stockData[i]):
            S.pop()
 
        if (len(S) == 0):
            ans_lft.append(-1)
        else:
            ans_lft.append(S[-1][1])
        S.append((stockData[i],i+1))
        
        i=i+1
    return ans_lft
        
def calright(stockData,n):
    S = []
    ans_right=[]
    i=n-1
    while i > -1:
        while (len(S) >0 and S[-1][0] >= stockData[i]):
            S.pop()
        if (len(S) == 0):
            ans_right.append(-1)
        else:
            ans_right.append(S[-1][1])
        S.append((stockData[i],i+1))
        i=i-1
    return ans_right
    

def predictAnswer(stockData, queries):
    # Write your code here
    ans_lft=calleft(stockData,len(stockData))
    ans_right=calright(stockData,len(stockData))
    ans_right.reverse()
    print("left---",ans_lft)
    print("right -----",ans_right)
      
    
    vec=[]
    for i in queries:
        if ans_lft[i-1] == -1 and ans_right[i-1] == -1:
            vec.append(-1)
        elif ans_lft[i-1] == -1 and ans_right[i-1] != -1:
            vec.append(ans_right[i-1])
        elif ans_lft[i-1] != -1 and ans_right[i-1] == -1:
            vec.append(ans_lft[i-1])
        else:
            difl=i-ans_lft[i-1]
            difr=ans_right[i-1]-i
            if difr<difl:
                vec.append(ans_right[i-1])
            else:
                vec.append(ans_lft[i-1])
    print("Final ans---",vec)
    return vec

In [29]:
a=[1,2,3,4]

In [32]:
a[-1][0]

TypeError: 'int' object is not subscriptable

In [5]:
def solution(unsorted_prices,max_price):
    price_to_counts=[0]*(max_price+1)
    
    for price in unsorted_prices:
        price_to_counts[price]+=1
    sorted_prices=[]
    for price,count in enumerate(price_to_counts):
        for time in range(count):
            sorted_prices.append(price)
    
    return sorted_prices

In [32]:
a=[6,2,1,2,1]

In [35]:
e=sorted(a,key=lambda i:a.index(i))

In [38]:
c=sorted(e,key=lambda i:e.count(i),reverse=True)

In [39]:
c

[2, 2, 1, 1, 6]

In [40]:

b=[]
for i in range(len(c)):
    if c[i]==c[i-1]:
        b.append(c[i])

In [41]:
d=set(c)

In [42]:
d

{1, 2, 6}

In [43]:
b

[2, 1]

In [44]:
for i in d:
    if i not in b:
        b.append(i)

In [45]:
b

[2, 1, 6]

In [47]:
ini_list = [1, 2, 3, 4, 4, 5, 5, 5, 5, 7,
            1, 1, 2, 4, 7, 8, 9, 6, 6, 6]

In [51]:
from collections import Counter

In [53]:
[item for items,c in Counter(ini_list).most_common() for item in [items]*c]

[5, 5, 5, 5, 1, 1, 1, 4, 4, 4, 6, 6, 6, 2, 2, 7, 7, 3, 8, 9]

In [54]:
table = [0 for k in range(6)]

In [55]:
table

[0, 0, 0, 0, 0, 0]

In [8]:
#longest common subsequence
def lcs(X,Y,m,n):
    if m==0 or n==0:
        return 0
    elif X[m-1]==Y[n-1]:
        return 1+lcs(X,Y,m-1,n-1)
    else:
        return max(lcs(X,Y,m,n-1),lcs(X,Y,m-1,n))

In [10]:
X = "AGGTAB"
Y = "GXTXAYB"
print ("Length of LCS is ", lcs(X , Y, len(X), len(Y)) )

Length of LCS is  4

In [14]:
def lcs(X,Y):
    m=len(X)
    n=len(Y)
    #declaring array for storing dp values
    L=[[None]*(n+1) for i in range(m+1)]
    #"Following steps build L[m+1][n+1] in bottom up fashion
    for i in range(m+1):
        for j in range(n+1):
            if i==0 or j==0:
                L[i][j]=0
            elif X[i-1]==Y[j-1]:
                L[i][j]=L[i-1][j-1]+1
            else:
                L[i][j]=max(L[i-1][j],L[i][j-1])
    return L[m][n]

In [15]:
X = "AGGTAB"
Y = "GXTXAYB"
print ("Length of LCS is ", lcs(X , Y) )

Length of LCS is  4

In [5]:
c=[2,2,1,1,6]

In [3]:
c=list(dict.fromkeys(c))

In [4]:
c

[2, 1, 6]

In [2]:
print("Data science" "is" "cool")

Data scienceiscool

In [3]:
str='anu123$'
cha=num=pun=0
for i in str:
    if i.isdigit():
        num=num+1
    elif i.isalpha():
        cha=cha+1
    else:
        pun=pun+1
print('Letters:',cha)
print('Numbers:',num)
print('Special chars:',pun)

Letters: 3
Numbers: 3
Special chars: 1

In [9]:
def subsumcnt(arr,k):
    res=0
    currsum=0
    prefixSums={0:1}
    for i in arr:
        currsum+=i
        diff=currsum-k
        res+=prefixSums.get(diff,0)
        prefixSums[currsum]=1+prefixSums.get(currsum,0)
        
    return res

In [10]:
arr=[1,-1,1,1,1]
subsumcnt(arr,3)

2

In [15]:
def twosum(arr,k):
    prevmap={}
    for i,n in enumerate(arr):
        diff=k-n
        if diff in prevmap:
            return [prevmap[diff],i]
        prevmap[n]=i

In [17]:
twosum([1,3,5,2],4)

[0, 1]

In [18]:
def pair_sum(arr,sum):
    arr.sort()
    left=0
    right=len(arr)-1
    while(left<=right):
        if (arr[left]+arr[right]>sum):
            right=right-1
        elif (arr[left]+arr[right]<sum):
            left=left+1
        elif(arr[left]+arr[right]==sum):
            print("Pair values are",arr[left],arr[right])
            left=left+1
            right=right-1

In [19]:
pair_sum([3,4,8,5,9,8,19],17)

Pair values are 8 9

In [20]:
def max_sum_subarr(arr):
    size=len(arr)
    curr_sum=0
    max_so_far=arr[0]
    st=0;end=0;poi=0
    for i in range(0,size):
        curr_sum=curr_sum+arr[i]
        
        if (max_so_far<curr_sum):
            max_so_far=curr_sum
            st=poi
            end=i
        if curr_sum<0:
            curr_sum=0
            poi=i+1
    print('Max sum in sub array is',max_so_far)
    print('start index is',st)
    print('End index is',end)

In [21]:
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]

In [22]:
max_sum_subarr(arr)

Max sum in sub array is 7
start index is 3
End index is 8

In [24]:
def threesum(arr):
    res=[]
    arr.sort()
    
    for i,a in enumerate(arr):
        if i>0 and a==arr[i-1]:
            continue
        l,r=i+1,len(arr)-1
        while l<r:
            threesum=a+arr[l]+arr[r]
            if threesum>0:
                r-=1
            elif threesum<0:
                l+=1
            else:
                res.append([a,arr[l],arr[r]])
                l+=1
                while arr[l]==arr[l-1] and l<r:
                    l+=1
    return res

In [26]:
threesum([-1,0,2,1,-2,-1,-4])

[[-2, 0, 2], [-1, -1, 2], [-1, 0, 1]]

In [1]:
a=[1,2,3,4]

In [3]:
list(reversed(a))

[4, 3, 2, 1]

In [33]:
b=[2,2,1,6,7]

In [34]:
c=sorted(b,key=lambda i:b.index(i))

In [35]:
c

[2, 2, 1, 6, 7]

In [36]:
list(dict.fromkeys(c))

[2, 1, 6, 7]

In [14]:
def reverse_word(s):
    s=s.split()
    reverse=''
    for i in s:
        reverse=i+reverse
    return reverse

In [15]:
reverse_word('How are you')

'youareHow'

In [7]:
s='How are you'
s=s.split()[::-1]

In [8]:
s

['you', 'are', 'How']

In [10]:
' '.join(s)

'you are How'