In [1]:
for i in range(6):
    for j in range(i):
        print('*',end="")
    print("")

*
**
***
****
*****

In [2]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end="")
    print("")

*****
****
***
**
*

In [3]:
#A-Z - > 65-90, a-z--> 97-122
for i in range(5):
    for j in range(65,70,1):
        print(chr(j),end="")
    print("")

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [3]:
#DAta Abstracion and Encapsulation
class Library:
    def __init__(self,books):
        self.books=books
    
    def list_books(self):
        print("Available Books")
        for book in self.books:
            print(book)
    def borrow_book(self,borrow_book):
        if borrow_book in self.books:
            print("get your book now ")
            self.books.remove(borrow_book)
        else:
            print("book not available")
    def receive_book(self,receive_book):
        print("you have returned the book")
        self.books.append(receive_book)

In [4]:
books=['C','C++','Java']

In [5]:
o=Library(books)

In [6]:
msg=""" 1.Display Book
        2. Borrow Book
        3.Receive Book"""

In [7]:
while True:
    print(msg)
    ch=int(input("Enter your choice"))
    if ch==1:
        o.list_books()
    elif ch==2:
        book=input("Enter the boook to borrow")
        o.borrow_book(book)
    elif ch==3:
        book=input("Enter the boook to return")
        o.receive_book(book)
    else:
        print("thank you!! Come again")
        break

 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice1
Available Books
C
C++
Java
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice2
Enter the boook to borrowC
get your book now
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice3
Enter the boook to returnC
you have returned the book
 1.Display Book
        2. Borrow Book
        3.Receive Book
Enter your choice5
thank you!! Come again

In [2]:
#Single inheritance
class Nokia:
    company='Nokia India'
    website='www.nokia.in'
    def contact_details(self):
        print("Address: Nokia,head office, kammanahalli,Bangalore")

In [7]:
#Derived Class
class Nokia1100(Nokia):
    def __init__(self):
        self.name='Nokia 1100'
        self.year=2000
    def product_details(self):
        print("Name:",self.name)
        print("Year:" ,self.year)
        print("Company:", self.company)
        print("Website:" ,self.website)

In [8]:
mobile=Nokia1100()

In [9]:
mobile.product_details()

Name: Nokia 1100
Year: 2000
Company: Nokia India
Website: www.nokia.in

In [10]:
mobile.contact_details()

Address: Nokia,head office, kammanahalli,Bangalore

In [11]:
#Multiple Inheritance
class Father:
    def Fishing(self):
        print("fishing in river")
    def chess(self):
        print('Father plays chess')

In [12]:
class Mother:
    def Cooking(self):
        print("Cooking Food")
    def chess(self):
        print('Mother plays chess')

In [13]:
class Son(Father,Mother):
    def ride(self):
        print("Riding Bike")

In [15]:
o=Son()

In [16]:
o.ride()

Riding Bike

In [18]:
o.Fishing()

fishing in river

In [20]:
#If both class have same function , it will take the function in the inherited sequence(ie here we gave father , mother so takes from father)
o.chess()

Father plays chess

In [22]:
#Multilevel Inheritance
class Grandfather:
    def ownhouse(self):
        print("Grandpa House")

class Father(Grandfather):
    def ownBike(self):
        print("Father's bike ")
        
class Son(Father):
    def ownBook(self):
        print("Son's book ")

In [23]:
o=Son()

In [24]:
o.ownhouse()

Grandpa House

In [26]:
o.ownBike()

Father's bike

In [27]:
o.ownBook()

Son's book

In [38]:
#Functoin Overriding - function created in based class is redefined in derived class. If both have same function name but differnt values
class Employee:
    def WorkingHrs(self):
        self.hrs=50
    def printhrs(self):
        print('Total hours:',self.hrs)
    
class Trainee(Employee):
    def WorkingHrs(self):
        self.hrs=60
    def reset_hrs(self):
        super().WorkingHrs()

In [29]:
emp=Employee()

In [31]:
emp.WorkingHrs()

In [32]:
emp.printhrs()

Total hours: 50

In [40]:
t=Trainee()

In [41]:
t.WorkingHrs()

In [42]:
t.printhrs()

Total hours: 60

In [43]:
t.reset_hrs()

In [44]:
t.printhrs()

Total hours: 50

In [1]:
# Diamond problem
class A:
    def display(self):
        print("Display of Class A")
        
class B(A):
    def display(self):
        print("Display of Class B")
        
class C(A):
    def display(self):
        print("Display of Class C")
        
class D(B,C):
    def display(self):
        print("Display of Class D")

In [2]:
o=D()

In [4]:
#If D class has function that will be displayed..Else if B or C has that it will be displayed. Or else it will be displayed from A
o.display()

Display of Class D

In [7]:
#Operator overloading(eg + for numbers and string)
class Addition:
    def __init__(self,a):
        self.a=a
    #magic method for overloading + operator
    def __add__(o1,o2):
        return o1.a+o2.a

In [8]:
o1=Addition(10)
o2=Addition(20)

In [9]:
print(o1+o2)

30

In [10]:
#Abstract Base class - Eg This is reserve bank all banks should follow these functions
from abc import ABC,abstractmethod

class Bank(ABC):
    @abstractmethod
    def loan(self):
        pass
    @abstractmethod
    def credit(self):
        pass
    @abstractmethod
    def debit(self):
        pass

In [12]:
#A cass inheriting abstract class should have all the functions in abstract class. We can provide additional methods in derived class
#But the functions present in abstract class is mandatory
class HDFC(Bank):
    def loan(self):
        print("We are providing loan at 7.5% Interest")
    def credit(self):
        print("Credit provided")
    def debit(self):
        print("Debit provided")
    def card(self):
        print("Card provided")

In [13]:
o=HDFC()

In [14]:
o.card()
o.debit()

Card provided
Debit provided

In [16]:
try:
    file=open('sq.txt','r')
    print(file.read())
except Exception as e:
    print(e)
else:
    file.close()

[Errno 2] No such file or directory: 'sq.txt'

In [14]:
#Wite a function to take string calculate average length
def avg_word_len(sent):
    sent=sent.split()
    sum1=0
    for i in sent:
        sum1+=len(i)
        avg=sum1/len(sent)
    
    return avg

In [15]:
avg_word_len('I love cricket')

4.0

In [20]:
s=[2,3,5,6,9,11]

In [21]:
even=[]
for i in s:
    if i%2==0:
        even.append(i)

In [22]:
even

[2, 6]

In [23]:
[i for i in s if i%2==0]

[2, 6]

In [30]:

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [33]:
factorial(2)

2

In [35]:
n=int(input('Enter a number'))
d={}

for i in range(1,n+1):
    d[i]=i*i
    
print(d)

Enter a number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
values=input('Enter comma separated numbers')
l=values.split(',')
t=tuple(l)
print(l)
print(t)

Enter comma separated numbers21,22,23,24,25
['21', '22', '23', '24', '25']
('21', '22', '23', '24', '25')

In [42]:
#Fibonacci series
a=0
b=1
n=int(input('Enter number of terms'))
if n<0:
    n=int(input('Enter a positive number'))
print(a,b,end=' ')
while n-2:
    c=a+b
    a=b
    b=c
    print(c,end=' ')
    n=n-1

Enter number of terms14
0 1 1 2 3 5 8 13 21 34 55 89 144 233

In [50]:
#Armstrong number or not
num=int(input('Enter a number'))
s=0
temp=num
while temp>0:
    c=temp%10
    s+=c**3
    temp=temp//10
if num==s:
    print ("Amstrong number")
else:
    print("Not a Armstrong number")

Enter a number21
Not a Armstrong number

In [63]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print("")

*
**
***
****
*****

In [64]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [75]:
#Right triangle star - decresing space and increasing star
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=" ")
    print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [76]:
#Inverted right traingle star
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print(" ")

  * * * * *
    * * * *
      * * *
        * *
          *

In [79]:
#Hill pattern
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i+1):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")

    print(" ")

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [80]:
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    #decreasng from i+1 to i as we need 1 star less
    for j in range(i):
        print('*',end=" ")
    for j in range(i+1):
        print('*',end=" ")

    print(" ")

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [83]:
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print('*',end=" ")

    print(" ")

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [91]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [92]:
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [96]:
[i for i in range(2,-1,-1)]

[2, 1, 0]

In [98]:
for i in range(5):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [100]:
for i in range(5):
    for j in range(i+1):
        print(n-i,end=" ")
    print("")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [102]:
for i in range(5):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print("")

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [104]:
for i in range(5):
    for j in range(i+1):
        print(n-j,end=" ")
    print("")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [1]:
n=int(input("Enter a number to find factorial"))
result=1
for i in range(n,0,-1):
    result=result*i
print('The factorial of', n,'is', result)

Enter a number to find factorial5
The factorial of 5 is 120

In [3]:
# To find prime numbers within given limit
lower=int(input("Enter the lower limit"))
upper=int(input("Enter the upper limit"))
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

Enter the lower limit5
Enter the upper limit24
5
7
11
13
17
19
23

In [5]:
n=int(input('Enter the number to check if it is prime'))
if n>1:
    for i in range(2,n):
        if (n%i)==0:
            print('not a prime')
            break
    else:
        print(n,'is a prime')

Enter the number to check if it is prime4
not a prime

In [6]:
#Swapping using 3rd variable
num1=10
num2=20

temp=num1
num1=num2
num2=temp

num1,num2

(20, 10)

In [7]:
#Swapping without 3rd variable
num1=10
num2=20

num1,num2=num2,num1

In [8]:
num1,num2

(20, 10)

In [9]:
#sum of elements in a list
arr=[1,2,3,4,5]
print(sum(arr))

15

In [11]:
print(sum(arr,10))

25

In [12]:
sum(arr,-10)

5

In [14]:
min(arr)

1

In [15]:
max=arr[0]
n=len(arr)

for i in range(1,n):
    if arr[i]>max:
        max=arr[i]
print(max)

5

In [16]:
#No of elements in an array using loop
count=0
for i in arr:
    count=count+1
print(count)

5

In [17]:
#Swap first and last
a=[1,2,3,4,5]
size=len(a)
temp=a[0]
a[0]=a[size-1]
a[size-1]=temp

In [18]:
a

[5, 2, 3, 4, 1]

In [19]:
a[0],a[-1]=a[-1],a[0]

In [20]:
a

[1, 2, 3, 4, 5]

In [27]:
# remove nth occurence of a word
a=['geeks','for','geeks']
word='geeks'
n=2

count=0
for i in range(0,len(a)):
    if(a[i]==word):
        count+=1
        if (count==n):
            del a[i]

In [25]:
a

['geeks', 'for']

In [35]:
def reverse(string):
    reversed_string=""
    for i in string:
        print(i+reversed_string)
        reversed_string=i+reversed_string
    return reversed_string

In [36]:
reverse('anu')

a
na
una

'una'

In [37]:
def compute_GCD(a,b):
    if b==0:
        return a 
    else:
        return compute_GCD(b,a%b)

In [38]:
compute_GCD(2,18)

2

In [39]:
import math

In [40]:
math.gcd(64,48)

16

In [46]:
a='anu'
a[::-1]

'una'

In [4]:
import random
num=random.randint(1,101)

In [5]:
print("WELCOME TO GUESS ME!")
print("I'm thinking of a number between 1 and 100")
print("If your guess is more than 10 away from my number, I'll tell you you're COLD")
print("If your guess is within 10 of my number, I'll tell you you're WARM")
print("If your guess is farther than your most recent guess, I'll say you're getting COLDER")
print("If your guess is closer than your most recent guess, I'll say you're getting WARMER")
print("LET'S PLAY!")

WELCOME TO GUESS ME!
I'm thinking of a number between 1 and 100
If your guess is more than 10 away from my number, I'll tell you you're COLD
If your guess is within 10 of my number, I'll tell you you're WARM
If your guess is farther than your most recent guess, I'll say you're getting COLDER
If your guess is closer than your most recent guess, I'll say you're getting WARMER
LET'S PLAY!

In [17]:
guesses=[0]

while True:
    guess=int(input('Enter your guess'))
    if guess<1 or guess>100:
        print('OUT OF BOUNDS! Please try again: ')
        continue
    if guess == num:
        print(f'CONGRATULATIONS, YOU GUESSED IT IN ONLY {len(guesses)} GUESSES!!')
        break
    guesses.append(guess)
    
    
    # when testing the first guess, guesses[-2]==0, which evaluates to False
    # and brings us down to the second section
    
    if guesses[-2]:  
        if abs(num-guess) < abs(num-guesses[-2]):
            print('WARMER!')
        else:
            print('COLDER!')
   
    else:
        if abs(num-guess) <= 10:
            print('WARM!')
        else:
            print('COLD!')

Enter your guess56
COLD!
Enter your guess43
COLDER!
Enter your guess89
WARMER!
Enter your guess9
COLDER!
Enter your guess94
WARMER!
Enter your guess96
WARMER!
Enter your guess99
COLDER!
Enter your guess93
COLDER!
Enter your guess95
WARMER!
Enter your guess97
CONGRATULATIONS, YOU GUESSED IT IN ONLY 9 GUESSES!!

In [16]:
len(guesses)

23

In [1]:
def large_cont_sum(arr):
    if len(arr)==0:
        return 0
    
    curr_sum=arr[0]
    max_sum=arr[0]
    
    for num in arr[1:]:
        curr_sum=max(curr_sum+num,num)
        max_sum=max(curr_sum,max_sum)
    return max_sum

In [2]:
large_cont_sum([1,2,3])

6

In [3]:
large_cont_sum([1,6,-8,2,9])

11

In [4]:
#Problem : AAAABBBBCCCCDDDD -> A4B4C4D4
def compress(s):
    run=""
    length=len(s)
    
    if length==0:
        return""
    if length==1:
        return s+"1"
    count=1
    i=1   #index holder
    while i<length:
        if s[i]==s[i-1]:
            count+=1
        else:
            run=run+s[i-1]+str(count)
            count=1 #resetting so that it starts with next letter
        i+=1
    run=run+s[i-1]+str(count)
    return run

In [6]:
compress('AAAABBBBCCCCDDDD')

'A4B4C4D4'

In [8]:
compress('AAB')

'A2B1'

In [9]:
compress('aaaaaAA')

'a5A2'

In [15]:
def profit(stock_prices):
    
    if len(stock_prices)<2:
        return 'Hey I need more prices'
    
    min_stock_price=stock_prices[0]
    max_profit=0
    
    for price in stock_prices:
        min_stock_price=min(min_stock_price,price)
        
        comparison_profit=price-min_stock_price
        
        max_profit=max(comparison_profit,max_profit)
        
    return max_profit

In [16]:
profit([2,8,10])

8

In [17]:
profit([13,2,4,10])

8

Question:
Given 2 non negative arrays we have to find which element is missing
[1,2,3,4,5]
[1,3,4,5]

We have to find 2 is missing

In [18]:
def finder(arr1,arr2):
    arr1.sort()
    arr2.sort()
    
    for num1,num2 in zip(arr1,arr2):
        if num1!=num2:
            return num1
    return arr[-1]

In [19]:
finder([1,2,3,4,5],[1,2,4,5])

3

In [20]:
def finder1(arr1,arr2):
    return sum(arr1)-sum(arr2)

In [21]:
finder1([1,2,3,4,5],[1,2,4,5])

3