In [19]:
####AAABBBCCC=A3B3C3
def letter_count(s):
    leng=len(s)
    
    if len(s)==1:
        return s+'1'
    run=""
    count=1
    for i in range(1,len(s)):
        if s[i]==s[i-1]:
            count+=1
        else:
            run=run+s[i-1]+str(count)
            count=1
            
    run=run+s[i-1]+str(count)
    return run

In [20]:
letter_count('A')

'A1'

In [29]:
def closest_zero(A):
    closest=A[0]
    for i in range(1,len(A)):
        if closest==0:
            closest=A[i]
        elif (A[i]>0 and A[i]<=closest):
            closest=A[i]
        elif (A[i]<0 and -A[i]<closest):
            closest=A[i]
    return closest

In [36]:
closest_zero(([1,5,3,0,-2,4]))

1

In [1]:
#If we have to print 0 as such in closest
def closest_zero(A):
    closest=A[0]
    for i in range(1,len(A)):
        if closest==0:
            return closest
        elif (A[i]>=0 and A[i]<=closest):
            closest=A[i]
        elif (A[i]<0 and -A[i]<closest):
            closest=A[i]
    return closest

In [5]:
closest_zero(([1,5,3,-1,2,4]))

1

In [1]:
phrase='I love dog'

In [3]:
phrase.startswith('dog')

False

In [25]:
def Armstrong(n):
    temp=n
    sum1=0
    while temp!=0:
        c=temp%10
        sum1=sum1+c**3
        print(sum1)
        temp=temp//10
        print(temp)
    if sum1==n:
        print('Armstrong')
    else:
        print('not armstrong')

In [26]:
Armstrong(153)

27
15
152
1
153
0
Armstrong

In [34]:
lower=int(input("Enter the lower limit"))
upper=int(input("Enter the upper limit"))
for i in range(lower,upper+1):
    if i>1:
        for j in range(2,i):
            if (i%j)==0:
                break
        else:
            print(i)

Enter the lower limit2
Enter the upper limit17
2
3
5
7
11
13
17

In [35]:
n=int(input('Enter the number till we have to find primes'))
for i in range(n+1):
    if i>1:
        for j in range(2,i):
            if(i%j)==0:
                break
        else:
            print(i)

Enter the number till we have to find primes100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [39]:
#arbitarary sum
def sum(*n):
    sum1=0
    for i in n:
        sum1=sum1+i
    return sum1

In [41]:
sum(1,2,3,4)

10

In [44]:
def sum(list):
    s=0
    for i in list:
        s=s+i
    return s

In [45]:
sum([1,2,3,4])

10

In [68]:
def fibotill(n):
    a=0
    b=1
    print(a)
    while b<n:
        print(b)
        c=a+b
        a=b
        b=c

In [69]:
fibotill(60)

0
1
1
2
3
5
8
13
21
34
55

In [70]:
def fibo(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)

In [71]:
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [80]:
def large_cont_sum(arr):
    curr_sum=arr[0]
    max_sum=arr[0]
    
    for i in arr[1:]:
        curr_sum=max(curr_sum+i,i)
        max_sum=max(curr_sum,max_sum)
    return max_sum

In [81]:
large_cont_sum([1,2,3])

6

In [82]:
large_cont_sum([1,6,-8,2,9])

11

In [88]:
def compress(s):
    run=""
    leng=len(s)
    if leng<1:
        return ""
    if leng==1:
        return s+'1'
    count=1
    
    i=1
    while i<leng:
        if s[i]==s[i-1]:
            count+=1
        else:
            run=run+s[i-1]+str(count)
            count=1
        i+=1
    run=run+s[i-1]+str(count)
    return run

In [89]:
compress('AAABBBCCC')

'A3B3C3'

In [3]:
from itertools import permutations

In [11]:
a=list(permutations('ABC'))

In [13]:
[permutations('ABC')]

In [14]:
a=[''.join(i) for i in permutations('ABC')]

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [23]:
[''.join(i) for i in permutations('ABC')]

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [21]:
[i for i in permutations('ABC')]

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [35]:
l=['a','b','c','d']

In [36]:
''.join(l)

'abcd'

In [46]:
def rev_num(num):
    temp=num
    rev=0
    while temp>0:
        c=temp%10
        rev=rev*10+c
        temp=temp//10
    print(rev)

In [47]:
rev_num(1234)

4321

In [45]:
1234//10

123

In [48]:
5**3

125

In [49]:
def armstrong(num):
    temp=num
    sum=0
    while temp>0:
        c=temp%10
        sum=sum+c**3
        temp=temp//10
    if sum==num:
        print('Armstrong')
    else:
        print('Not an armstrong')

In [139]:
armstrong(153)

Armstrong

In [54]:
def numdigit(num):
    count=0
    temp=num
    while temp>0:
        temp=temp//10
        count+=1
    print(count)

In [56]:
numdigit(1234)

4

In [61]:
def fibo(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)

In [62]:
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [63]:
def fibo1(n):
    a=0
    b=1
    print(a)
    while(b<n):
        print(b)
        c=a+b
        a=b
        b=c

In [64]:
fibo1(60)

0
1
1
2
3
5
8
13
21
34
55

In [104]:
def countlett(a):
    res=''
    if len(a)==1:
        return a+'1'
    count=1
    for i in range(1,len(a)):
        if a[i]==a[i-1]:
            count+=1
        else:
            res=res+a[i-1]+str(count)
            count=1
    res=res+a[i-1]+str(count)
    return res

In [105]:
countlett('a')

'a1'

In [106]:
countlett('aabbb')

'a2b3'

In [109]:
def palnum(n):
    temp=n
    rev=0
    while(temp>0):
        c=temp%10
        rev=rev*10+c
        temp=temp//10
    if rev==n:
        print('Its a palindrome number')
    else:
        print('Not a palindrome number')

In [112]:
palnum(12321)

Its a palindrome number

In [115]:
def fact(n):
    sum=1
    for i in range(1,n+1):
        sum=sum*i
    return sum

In [127]:
fact(5)

120

In [121]:
def fact1(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)

In [122]:
fact1(1)

1

In [124]:
fact1(4)

24

In [128]:
def faceq(n):
    temp=n
    sum=0
    while temp>0:
        c=temp%10
        sum=sum+fact(c)
        temp=temp//10
    if sum==n:
        print('same')
    else:
        print('not same')

In [131]:
faceq(145)

same

In [132]:
def list_facto(start,end):
    for n in range(start,end+1):
        temp=n
        sum=0
        while temp>0:
            c=temp%10
            sum=sum+fact(c)
            temp=temp//10
        if sum==n:
            print(n)

In [133]:
list_facto(1,50000)

1
2
145
40585

In [134]:
def list_arm(start,end):
    for n in range(start,end+1):
        temp=n
        sum=0
        while temp>0:
            c=temp%10
            sum=sum+c**3
            temp=temp//10
        if sum==n:
            print(n)

In [135]:
list_arm(1,600)

1
153
370
371
407

In [142]:
def list_prime(start,end):
    for n in range(start,end+1):
        if n>1:
            for i in range(2,n):
                if(n%i)==0:
                    break
            else:
                 print(n)

In [143]:
list_prime(1,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [148]:
def prime(n):
    if n>1:
        for i in range(2,n):
            if(n%i)==0:
                print('not a prime')
                break
        else:
            print(n,'is a prime')

In [149]:
prime(8)

not a prime

In [15]:
def closest_zero(a):
    closest=a[0]
    for i in range(1,len(a)):
        if closest==0:
            closest=a[i]
        elif (a[i]>=0 and a[i]<=closest):
            closest=a[i]
        elif (a[i]<0 and -a[i]<closest):
            closest=a[i]
    return closest

In [16]:
closest_zero(([0,5,3,1,-2,4]))

1

In [9]:
from itertools import product

A=list(map(int,(input().split())))
B=list(map(int,(input().split())))

1 2
3 4

In [10]:
for i in product(A,B):
    print(i,end=' ')

(1, 3) (1, 4) (2, 3) (2, 4)

### class Library:
    def __init__(self,books):
        self.books=books

In [15]:
A=[1,2]
B=[3,4]

In [18]:
list(product(A,B))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [19]:
from itertools import *

#### Infinite iterators
count,cycle and repeat

In [22]:
a=count(1,3) #Give start and step value

In [23]:
d=1 # to count number of occurences
for i in a:
    if d>10:
        break
    else:
        print(i)
    d+=1

1
4
7
10
13
16
19
22
25
28

In [26]:
c=cycle([1,2,3,4,5])

In [27]:
#cycle just moves over the iterator again and again
d=1 # to count number of occurences
for i in c:
    if d>10:
        break
    else:
        print(i)
    d+=1

1
2
3
4
5
1
2
3
4
5

In [28]:
r=repeat(10,3)

In [29]:
for i in r:
    print(i)

10
10
10

#### Itertools that will terminate on shortest input sequence
accumulate,
chain

In [31]:
#accumulate returns accumulated sum of elements in the iterable
import operator
a=[1,2,3,4,5]
b=accumulate(a) # by default the operation is addition

In [32]:
for i in b:
    print(i)

1
3
6
10
15

In [33]:
a=[1,2,3,4,5]
b=accumulate(a,operator.mul)

for i in b:
    print(i)

1
2
6
24
120

In [34]:
#Chain
a=[1,2,3,4,5]
b=[2,3,4,5,6]

In [36]:
c=chain(a,b)
for i in c:
    print(i)

1
2
3
4
5
2
3
4
5
6

In [38]:
a=[1,2,3,4,5]
sel=[1,0,1,0,1]
b=compress(a,sel)
for i in b:
    print(i)

1
3
5

In [39]:
#dropwhile
#dropwhile will return the values when the condidition is false
a=list(range(0,50,5))
b=dropwhile(lambda x:x<20,a)

In [41]:
for i in b:
    print(i)

20
25
30
35
40
45

In [44]:
b=filterfalse(lambda x:x<20,a)
for i in b:
    print(i)

20
25
30
35
40
45

In [45]:
a=list(range(0,100,5))
b=islice(a,0,15,3) #(iterable,start index,stop index,step size)

In [48]:
a

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [47]:
#It will display every 3rd variable in a till 15th index which is 75
for i in b:
    print(i)

0
15
30
45
60

In [49]:
#starmap
a=[(1,2),(3,4),(5,6),(7,8)]

In [50]:
b=starmap(lambda x,y:(x+5,y+3),a)

In [51]:
for i in b:
    print(i)

(6, 5)
(8, 7)
(10, 9)
(12, 11)

In [53]:
#takewhile
a=list(range(0,50,5))
b=takewhile(lambda x:x<20,a)
for i in b:
    print(i)

0
5
10
15

In [54]:
#tee -> for tee we should pass iterator only
a=[1,2,3,4,5]
at=iter(a)

In [59]:
#tee just creates copy of objects
b=tee(at,5)

In [56]:
for i in b:
    print(i)

<itertools._tee object at 0x0000020CD76499C8>
<itertools._tee object at 0x0000020CD7649888>
<itertools._tee object at 0x0000020CD7649588>
<itertools._tee object at 0x0000020CD76495C8>
<itertools._tee object at 0x0000020CD7649048>

In [58]:
for i in b:
    print(list(i))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [65]:
a=[1,3,5,7,9,6]
b=[2,4,6,8]

In [66]:
c=zip_longest(a,b,fillvalue=10)

In [67]:
for i in c:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)
(6, 10)

In [79]:
#group by
a=[(1,2),(3,4),(5,6)]
fun=lambda x:x[1]

In [80]:
b=groupby(a,fun)

In [81]:
for i,j in b:
    print(i,list(j))

2 [(1, 2)]
4 [(3, 4)]
6 [(5, 6)]

In [82]:
a=product('ABCD',repeat=2)

In [83]:
for i in a:
    print(i)

('A', 'A')
('A', 'B')
('A', 'C')
('A', 'D')
('B', 'A')
('B', 'B')
('B', 'C')
('B', 'D')
('C', 'A')
('C', 'B')
('C', 'C')
('C', 'D')
('D', 'A')
('D', 'B')
('D', 'C')
('D', 'D')

In [85]:
#combinatios won't have replacement
a=combinations('ABC',2)
for i in a:
    print(i)

('A', 'B')
('A', 'C')
('B', 'C')

In [88]:
a=combinations_with_replacement('ABC',2)

In [89]:
for i in a:
    print(i)

('A', 'A')
('A', 'B')
('A', 'C')
('B', 'B')
('B', 'C')
('C', 'C')

In [97]:
#find common letters in 2 strings
def common():
    str1=input("enter first string")
    str2=input("Enter 2nd string")
    s1=set(str1)
    s2=set(str2)
    lst=s1&s2
    #If we want to find not commn letter then s1^s2
    print(lst)

In [98]:
common()

enter first stringanu
Enter 2nd stringbanu
{'n', 'u', 'a'}

In [102]:
#count frequency of words
def freq_words():
    str1=input('Enter a string')
    li=str1.split()
    d={}
    for i in li:
        if i in d.keys():
            d[i]+=1
        else:
            d[i]=1
        
    print(d)

In [103]:
freq_words()

Enter a stringhow is it today it pains is it
{'how': 1, 'is': 2, 'it': 3, 'today': 1, 'pains': 1}

In [104]:
a=[1,2,3]
b=['one','two','three']
c=dict(zip(a,b))

In [105]:
print(c)

{1: 'one', 2: 'two', 3: 'three'}

In [107]:
for i in c.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [109]:
lst=[1,3,5,6,7,8,20]
def missing_no(lst):
    lst.sort()
    list1=[]
    for i in range(1,lst[-1]):
        if i not in lst:
            list1.append(i)
    return (list1)

print(missing_no(lst))

[2, 4, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
def pair_sum(arr,sum):
    arr.sort()
    left=0
    right=len(arr)-1
    while(left<=right):
        if (arr[left]+arr[right]>sum):
            right=right-1
        elif (arr[left]+arr[right]<sum): 
            left=left+1
        elif(arr[left]+arr[right]==sum):
            print("Pair values are",arr[left],arr[right])
            left=left+1
            right=right-1

In [7]:
pair_sum([3,4,8,5,9,8,19],17)

Pair values are 8 9

In [12]:
def max_sum_subarr(arr):
    size=len(arr)
    curr_sum=0
    max_so_far=arr[0]
    st=0;end=0;poi=0
    for i in range(0,size):
        curr_sum=curr_sum+arr[i]
        
        if (max_so_far<curr_sum):
            max_so_far=curr_sum
            st=poi
            end=i
        if curr_sum<0:
            curr_sum=0
            poi=i+1
    print('Max sum in sub array is',max_so_far)
    print('start index is',st)
    print('End index is',end)

In [13]:
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]

Max sum in sub array is 7
start index is 3
End index is 8

In [ ]:
data=data2=''
with open('file1.txt') as fp:
    data=fp.read()
with open('file2.txt') as fp:
    data2=fp.read()
#merging 2 files into another file
data+='\n'
data+=data2
with open('file3.txt','w') as fp:
    fp.write(data)
    
FileA = pd.read_table("FileA.txt")
FileB = pd.read_table("FileB.txt")

In [1]:
seq = ['soup','dog','salad','cat','great']

In [2]:
list(filter(lambda x:x[0]=='s',seq))

['soup', 'salad']

In [3]:
#find the least positive integer missing. This is O(n2) as we are looking for all elements
lst=[-1,0,1,4,5,3,100]
comp_list=list(range(1,len(lst)+1))
for i in lst:
    for j in comp_list:
        if (i==j):
            comp_list.remove(j)

In [4]:
comp_list

[2, 6, 7]

In [5]:
comp_list[0]

2

In [7]:
#Efficient solution 
lst=[-1,0,1,5,3,100]
plist=[i for i in lst if i>0]
pos_lst=sorted(plist)

In [8]:
pos_lst

[1, 3, 5, 100]

In [9]:
result=[i for i in range(1,len(pos_lst)+1) if i not in pos_lst]

In [10]:
result

[2, 4]

In [1]:
#Time complexity O(n2)
def missingno(lst):
    lst=sorted(lst)
    return [i for i in range(lst[0],lst[-1]+1) if i not in lst]

In [3]:
missingno([1,3,4,5])

[2]

In [5]:
missingno([6,7,10,11,13])

[8, 9, 12]

In [16]:
def missing_num(lst,n):
    b=[0]*(lst[n-1]+1)
    
    for i in range(n):
        b[lst[i]]=1
    for i in range(lst[0],lst[n-1]+1):
        if (b[i]==0):
            print(i,end=' ')

In [17]:
lst=[6,7,10,11,13]
n=len(lst)

In [18]:
missing_num(lst,n)

8 9 12

In [25]:
b=[0]*(lst[n-1]+1)
for i in range(n):
    b[lst[i]]=1
    print(b)
for i in range(lst[0],lst[n-1]+1):
    print(i)

[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1]
6
7
8
9
10
11
12
13

In [43]:
def generate_ngrams(word_list,n):
    gram_list=[]
    for i in range(0,len(word_list)):
        gram_list.append(' '.join(word_list[i:i+n]))
    return gram_list

In [31]:
text = 'A quick brown fox jumps over the lazy dog.'

In [32]:
text=text.split()

In [44]:
generate_ngrams(text,3)

['A quick brown',
 'quick brown fox',
 'brown fox jumps',
 'fox jumps over',
 'jumps over the',
 'over the lazy',
 'the lazy dog.',
 'lazy dog.',
 'dog.']

In [15]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end='')
    print("")

*****
****
***
**
*

In [16]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print("")

*
**
***
****
*****

In [18]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i+1):
        print('*',end="")
    print('')

     *
    **
   ***
  ****
 *****

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end='')
    for j in range(i,n):
        print('*',end='')
    print("")

 *****
  ****
   ***
    **
     *

In [27]:
for i in range(n):
    for j in range(i,n):
        print(' ',end='')

    for j in range(i+1):
        print('*',end='')
    for j in range(i):
        print('*',end="")
    print("")

     *
    ***
   *****
  *******
 *********

In [30]:
for i in range(n):
    for j in range(i+1):
        print(' ',end="")
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print("")

 *********
  *******
   *****
    ***
     *

In [40]:
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    print("")

1
12
123
1234
12345

In [39]:
for i in range(n):
    for j in range(i,n):
        print(j+1,end="")
    print("")

12345
2345
345
45
5

In [45]:
for i in range(n):
    for j in range(i,n):
        print(i+1,end="")
    print("")

11111
2222
333
44
5

In [50]:
n=5
for i in range(n):
    for j in range(n,i,-1):
        print(j,end="")
    print("")

54321
5432
543
54
5

In [55]:
n=5
for i in range(n):
    for j in range(n,i,-1):
        print(n-i,end="")
    print("")

55555
4444
333
22
1

In [57]:
n=5
for i in range(n):
    for j in range(i+1):
        print(i+1,end='')
    print(" ")

1
22
333
4444
55555

In [66]:
n=5
for i in range(n):
    for j in range(i+1):
        print(n-j,end="")
    print("")

5
54
543
5432
54321

In [5]:
class Father:
    def fishing(self):
        print('I know fishing')
    def eat(self):
        print('I know eat')

In [6]:
class son(Father):
    def eat(self):
        print('Son eats')

In [10]:
o=son()

In [11]:
o.eat()

Son eats

In [12]:
o.fishing()

I know fishing

In [23]:
#Function overriding
class Employee:
    def working_hrs(self):
        self.hrs=45
    def worktime(self):
        print('I work',self.hrs,'hrs')

In [24]:
e=Employee()

In [25]:
e.working_hrs()

In [26]:
e.worktime()

I work 45 hrs

In [27]:
class Trainee(Employee):
    def working_hrs(self):
        self.hrs=50
    def reset_hrs(self):
        super().working_hrs()

In [28]:
t=Trainee()

In [29]:
t.working_hrs()

In [30]:
t.worktime()

I work 50 hrs

In [31]:
t.reset_hrs()

In [32]:
t.worktime()

I work 45 hrs

In [37]:
a=45
def sum1():
    b,c=10,5
    d=a+b+c
    print(d)

sum1()
print(a)

60
45

In [39]:
class Nokia:
    name='Nokia'
    prod='Mobile'
    def contact(self):
        print('Address:Marthahalli,Bangalore')

In [46]:
class Nokia1100(Nokia):
    type1='first'
    def __init__(self):
        self.year=2010
        self.model='1100'
    def details(self):
        print('Company',self.name)
        print('product',self.prod)
        print('year',self.year)
        print('Model',self.model)
        print('type1',self.type1)

In [47]:
n=Nokia1100()

In [48]:
n.details()

Company Nokia
product Mobile
year 2010
Model 1100
type1 first

In [45]:
n.contact()

Address:Marthahalli,Bangalore

In [50]:
##Operator Overloading
class overload:
    def __init__(self,a):
        self.a=a
    def __add__(o1,o2):
        return o1.a+o2.a

In [55]:
b=overload(10)
c=overload(20)
print(b+c)

30

In [56]:
#Abstract class
from abc import ABC,abstractmethod

class Bank(ABC):
    @abstractmethod
    def loan(self):
        pass
    @abstractmethod
    def credit(self):
        pass
    @abstractmethod
    def debit(self):
        pass

In [61]:
class HDFC(Bank):
    def loan(self):
        print('Loan provided')
    def credit(self):
        print('credit available')
    def debit(self):
        print('Debit available')

In [62]:
h=HDFC()

In [63]:
h.credit()

credit available

In [69]:
def decor_func(fun):
    def wrap():
        print('wrap workked')
        fun()
    print('decor worked')
    return wrap

In [70]:
@decor_func
def show():
    print('show worked')
show()

decor worked
wrap workked
show worked

In [71]:
[i for i in range(10) if i>5]

[6, 7, 8, 9]

In [72]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [79]:
x=lambda a:a+10

In [81]:
[(lambda x:x*2)(x) for x in range(1,10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [83]:
x=lambda a,b,c:a+b+c

In [84]:
x(1,2,3)

6

In [85]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [86]:
factorial(5)

120

In [93]:
def fact1(n):
    prod=1
    for i in range(1,n+1):
        prod=prod*i
    return prod

In [94]:
fact1(5)

120

In [95]:
def rev_num(n):
    temp=n
    sum=0
    while temp>0:
        c=temp%10
        sum=sum*10+c
        temp=temp//10
    return sum

In [97]:
rev_num(4321)

1234

In [98]:
def revnum(n):
    n=str(n)
    return len(n)

In [99]:
revnum(1234543)

7

In [100]:
def countnum(n):
    temp=n
    count=0
    while temp>0:
        count+=1
        temp=temp//10
    return count

In [101]:
countnum(12132423)

8

In [102]:
def prime(low,upper):
    for i in range(low,upper+1):
        if i<1:
            print('Not a prime')
        for n in range(2,i):
            if i%n==0:
                break
        else:
            print(i)

In [103]:
prime(1,19)

1
2
3
5
7
11
13
17
19

In [110]:
from itertools import permutations

[i for i in permutations('123')]

[('1', '2', '3'),
 ('1', '3', '2'),
 ('2', '1', '3'),
 ('2', '3', '1'),
 ('3', '1', '2'),
 ('3', '2', '1')]

In [2]:
arr=[1,2,4,5,6]

In [4]:
[num**num if num%2==0 else 'odd' for num in arr]

['odd', 4, 256, 'odd', 46656]

In [5]:
#square only odd
[num*num for num in arr if num%2]

[1, 25]

In [10]:
a=['geek','for','geek']
word='geek'
n=2
count=0
for i in range(0,len(a)):
    if (a[i]==word):
        count=count+1
        if count==n:
            del a[i]

In [11]:
a

['geek', 'for']

In [12]:
strin='anu'

strin[::-1]

'una'

In [13]:
def reverse(s):
    reverse=''
    for i in s:
        reverse=i+reverse
    return reverse

In [14]:
reverse(strin)

'una'

In [15]:
def GCD(a,b):
    if (b==0):
        return a
    else:
        return GCD(b,a%b)

In [17]:
GCD(64,48)

16

In [20]:
import random
num=random.randint(1,100)

In [21]:
num

47

In [22]:
guesses=[0]

while True:
    guess=int(input('Enter your guess'))
    if guess<1 or guess >99:
        print('Enter number btw 1 to 99')
        continue
    if guess==num:
        print(f'Congratualtions you guessed it in {len(guesses)} guesses')
        break
    guesses.append(guess)
    
    if guesses[-2]:
        if abs(guess-num)<abs(num-guesses[-2]):
            print('warmer')
        else:
            print('colder')
    else:
        if abs(guess-num)<10:
            print('Warm')
        else:
            print('Cold')

Enter your guess12
Cold
Enter your guess100
Enter number btw 1 to 99
Enter your guess40
warmer
Enter your guess45
warmer
Enter your guess47
Congratualtions you guessed it in 4 guesses

In [23]:
guesses

[0, 12, 40, 45]

In [24]:
def large_cont_sum(arr):
    curr_sum=arr[0]
    max_sum=arr[0]
    for i in arr[1:]:
        curr_sum=max(curr_sum+i,i)
        max_sum=max(curr_sum,max_sum)
    return max_sum

In [25]:
large_cont_sum([1,6,-8,2,9])

11

In [46]:
def compress(s):
    run=""
    if len(s)<1:
        return ""
    if len(s)==1:
        return s+'1'
    count=1
    for i in range(1,len(s)):
        if s[i]==s[i-1]:
            count+=1
        else:
            run=run+s[i-1]+str(count)
            count=1
        
    run=run+s[i-1]+str(count)
    return run

In [47]:
compress('AABBCC')

'A2B2C2'

In [64]:
def stock_profit(arr):
    min_stock_price=arr[0]
    max_profit=arr[1]-arr[0]
    
    for price in arr[1:]:
        comparison_profit=price-min_stock_price
        max_profit=max(comparison_profit,max_profit)
        min_stock_price=min(price,min_stock_price)
    return max_profit

In [65]:
stock_profit([2,8,10])

8

In [66]:
stock_profit([24,22,14,12])

-2

In [73]:
def finder(arr1,arr2):
    if len(arr1)>len(arr2):
        diff=sum(arr1)-sum(arr2)
    else:
        diff=sum(arr2)-sum(arr1)
    return diff

In [74]:
finder([1,2,4,5],[1,2,3,4,5])

3

In [75]:
def finder(arr1,arr2):
    arr1.sort()
    arr2.sort()
    if len(arr1)>len(arr2):
        for num1,num2 in zip(arr1,arr2):
            if num1!=num2:
                return num1
        return arr1[-1]
    else:
        for num1,num2 in zip(arr2,arr1):
            if num1!=num2:
                return num1
        return arr2[-1]

In [77]:
finder([1,2,3,4,5],[1,2,3,4])

5

In [139]:
def closest_zero(arr):
    closest=arr[0]
    
    for i in range(0,len(arr)):
        if closest==0:
            closest=arr[i]
        elif (arr[i]>=0 and arr[i]<=closest):
            closest=arr[i]
            
        elif (arr[i]<0 and -arr[i]<closest):
            closest=arr[i]
            
    return closest

In [140]:
closest_zero([5,3,0,2,4,-1])

-1

In [141]:
closest_zero([5, -2,6, 7,2, 9 ])

-2

In [142]:
closest_zero([1,5,3,-1,2,4])

1

In [131]:
b=-2
arr=[1,4,2,5,9]

for i in arr:
    if i==(-b):
        print(i)

2

In [143]:
def palindrome(s):
    s=s.lower()
    if s==s[::-1]:
        print(s,'is palindrome')
    else:
        print(s,'is not a plindrome')

In [145]:
palindrome('madam')

madam is palindrome

In [155]:
def anagram(s1,s2):
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    if sorted(s1)==sorted(s2):
        print('Its a anagram')
    else:
        print('Not anagram')

In [156]:
anagram('clint eastwood','old west action')

Its a anagram

In [157]:
anagram('leku','klu')

Not anagram

In [167]:
def anagram1(s1,s2):
    s1=s1.replace(' ','').lower()
    s2=s2.replace(' ','').lower()
    c={}
    if len(s1)!=len(s2):
        return 'not anagram'
    for i in s1:
        if i in c:
            c[i]+=1
        else:
            c[i]=1
    for i in s2:
        if i in c:
            c[i]-=1
        else:
            c[i]=1
    for k in c:
        if c[k]!=0:
            return 'not anagram'
    return 'anagram'

In [168]:
anagram1('clint eastwood','old west action')

'anagram'

In [169]:
anagram1('leku','klu')

'not anagram'

In [172]:
def get_subarray_sum(arr,s):
    result=[]
    
    for i in range(len(arr)):
        result.append(arr[i])
        while(sum(result)>s):
            result.pop(0)
        if(sum(result)==s):
            return result
    return []

In [173]:
array=[4,8,5,2,9,7]
get_subarray_sum(array,18)

[2, 9, 7]

In [174]:
def max_sum(arr):
    curr_sum=0
    max_sum=arr[0]
    st=end=poi=0
    
    for i in range(len(arr)):
        curr_sum=curr_sum+arr[i]
        
        if max_sum<curr_sum:
            max_sum=curr_sum
            st=poi
            end=i
        if curr_sum<0:
            curr_sum=0
            poi=i+1
    print('Max sum is',max_sum)
    print(f'Start and end pos is {st} and {end} ')

In [175]:
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]
max_sum(arr)

Max sum is 7
Start and end pos is 3 and 8

In [176]:
max_sum([1,6,-8,2,9])

Max sum is 11
Start and end pos is 3 and 4

In [178]:
for i in range(1,31):
    if i%3==0 and i%5==0:
        print('fizzbuzz')
    elif i%3==0:
        print('fizz')
    elif i%5==0:
        print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [181]:
def fizzbuzz(n):
    d={3:'fizz',5:'buzz'}
    
    for i in range(1,n+1):
        result=""
        for k,v in d.items():
            if i%k==0:
                result+=v
        if not result:
            result=i
        print(result)

In [182]:
fizzbuzz(30)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [185]:
l=[10,70,30,4,50,60,60]
l=sorted(l)

In [187]:
l

[4, 10, 30, 50, 60, 60, 70]

In [186]:
if l[-2]==l[-1]:
    print('second largest is',l[-3])
else:
    print('second largest is',l[-2])

second largest is 60

In [188]:
a=[10,70,30,4,50,60,60,60]

l=set(a)
a=list(l)

In [190]:
a.sort(reverse=True)

In [193]:
a

[70, 60, 50, 30, 10, 4]

In [198]:
def least_occur(s):
    ch={}
    
    for i in s:
        if i in ch:
            ch[i]+=1
        else:
            ch[i]=1
    print(ch)
    
    result=min(ch,key=ch.get)
    return result

In [200]:
least_occur('AAbbccd')

{'A': 2, 'b': 2, 'c': 2, 'd': 1}

'd'

In [201]:
from collections import Counter

In [206]:
s='aabbccddeeef'
ch=Counter(s)
result=min(ch,key=ch.get)

In [205]:
result

'f'

In [207]:
ch

Counter({'a': 2, 'b': 2, 'c': 2, 'd': 2, 'e': 3, 'f': 1})

In [210]:
def partic(s,search):
    ch={}
    for i in s:
        if i in ch:
            ch[i]+=1
        else:
            ch[i]=1
    print(ch)
    try:
        print(ch[search])
    except:
        print(0)

In [212]:
partic('ABDSASA','S')

{'A': 3, 'B': 1, 'D': 1, 'S': 2}
2

In [219]:
#Convert _ to . and upper to lower and lower to upper
#eg: I_Am_Anu -> output should be i.aM.aNU

def change(s):
    s=s.split('_')
    new_s=""
    
    for i in s:
        new_s=new_s+i[:1].lower()+i[1:].upper()+'.'
    new_s=new_s[:-1]
        
    return new_s

In [220]:
change('I_Am_Anu')

'i.aM.aNU'

In [222]:
#perfect number all the divisors should add upto that number
#eg: 6->1+2+3,28=>1+2+4+7+14

def perfect(num):
    sum=0
    for i in range(1,num):
        if num%i==0:
            sum=sum+i
    if sum==num:
        print('perfect')
    else:
        print('not perfect')

In [225]:
perfect(28)

perfect

In [229]:
s='I love dogs'

l=['dogs','are','animals','I']

s=s.split()

In [230]:
a=[]
for i in s:
    if i in l:
        a.append(i)

In [231]:
a

['I', 'dogs']

In [246]:
def pair_sum(arr,k):
    seen=set()
    output=set()
    
    for num in arr:
        target=k-num
        
        if target not in seen:
            seen.add(num)
        else:
            output.add((min(num,target),max(num,target)))
    #return output
    print('\n'.join(map(str,list(output))))

In [247]:
pair_sum([1,2,3,2],4)

(1, 3)
(2, 2)

In [251]:
import re

def replace(s):
    s=re.sub(r'[^0-9]','',s)
    s=re.sub(r'\d','#',s)
    
    return s

In [253]:
replace('a23s4')

'###'

In [256]:
Students=['student1','student2','student3','student4','student5','student6','student7','student8','student9','student10'] 
Marks = [45, 78, 12, 14, 48, 43, 47, 98, 35, 80]

sdict=dict(zip(Students,Marks))
sdict

{'student1': 45,
 'student2': 78,
 'student3': 12,
 'student4': 14,
 'student5': 48,
 'student6': 43,
 'student7': 47,
 'student8': 98,
 'student9': 35,
 'student10': 80}

In [265]:
def get_student(student,marks):
    sdict=dict(zip(student,marks))
    print('Student who got top 5 ranks')
    
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1],reverse=True)[:5]:
        print(f'{stud}:{marks}')
        
    print('student who got last 5 marks')
    
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1])[:5]:
        print(f'{stud}:{marks}')
    print('Students who scored between 25 and 75%')
    for stud,marks in sorted(sdict.items(),key=lambda item:item[1]):
        percentage=marks*100.0/100
        
        if percentage>25 and percentage<75:
            print(f'{stud}:{marks}')

In [266]:
get_student(Students,Marks)

Student who got top 5 ranks
student8:98
student10:80
student2:78
student5:48
student7:47
student who got last 5 marks
student3:12
student4:14
student9:35
student6:43
student1:45
Students who scored between 25 and 75%
student9:35
student6:43
student1:45
student7:47
student5:48

In [10]:
def matrix(a,b):
    if len(a)==len(b):
        result=[]
        temp_row=len(b[0])*[0]
        for r in range(len(a)):
            result.append(temp_row[:])
            
        for i in range(len(a)):
            for j in range(len(b)):
                add=0
                for k in range(len(a)):
                    add=add+a[i][k]*b[k][j]
                    result[i][j]=add
        return result

In [11]:
a = [[1,3, 2,3],[4,3,5,6],[7,8,9,3],[1,2,3,4]]
b = [[1,0,0,0],[0,1,0,0],[0,0,1,0],[0,0,0,1]]

In [12]:
matrix(a,b)

[[1, 3, 2, 3], [4, 3, 5, 6], [7, 8, 9, 3], [1, 2, 3, 4]]

In [20]:
import numpy as np

In [21]:
np.matmul(a,b)

array([[1, 3, 2, 3],
       [4, 3, 5, 6],
       [7, 8, 9, 3],
       [1, 2, 3, 4]])

In [22]:

def randomFn(list):
    print(list)
    list[2]=30
    return list
list=[10,20,30]
print(randomFn(list))

[10, 20, 30]
[10, 20, 30]

In [23]:
100/25

4.0

In [26]:
import numpy as np
np.arange(20,(20+15*2.5),2.5)

array([20. , 22.5, 25. , 27.5, 30. , 32.5, 35. , 37.5, 40. , 42.5, 45. ,
       47.5, 50. , 52.5, 55. ])

In [27]:
import pandas as pd
A=[0,1,2,3,4]
df=pd.DataFrame(A)
print(df[-2:])

   0
3  3
4  4

In [29]:
print(('abcdefcdghcd').split('cd'))

['ab', 'ef', 'gh', '']

In [30]:
def add(a,b):
    assert(a>b)
    assert(b>a)
    print(a/b)
add(4,0)

AssertionError:

In [32]:
class A:
    def __init__(s):
        self.s=s
    def print():
        pass
    a=A('John')
    a.print()

TypeError: 'list' object is not callable

In [33]:
a=[5,1,4]

In [34]:
min(a)

1

In [3]:
s=input("Enter a string")
upper=lower=digit=punt=0
for i in s:
    if i.isupper():
        upper+=1
    elif i.islower():
        lower+=1
    elif i.isdigit():
        digit+=1
    else:
        punt+=1
        
print('Lower count',lower)
print('Upper count',upper)
print('Digit count',digit)
print("Punctuations",punt)

Enter a stringAnu123$
Lower count 2
Upper count 1
Digit count 3
Punctuations 1

In [4]:
s=[12,23,43,34,50]

r=list(filter(lambda i:i>30,s))

In [5]:
r

[43, 34, 50]

In [6]:
r=list(map(lambda i:i*2,s))

In [7]:
r

[24, 46, 86, 68, 100]

In [10]:
from functools import reduce

r=reduce(lambda x,y:x+y,s)

In [11]:
r

162

In [15]:
a=lambda x,y:x+y

In [16]:
a(5,3)

8

In [17]:
S1= "the first column F will contain only 5 uniques values"
S2= "the second column S will contain only 3 uniques values"

In [22]:
def common(s1,s2):
    a=[]
    s1=s1.split()
    s2=s2.split()
    for i in s1:
        for j in s2:
            if i==j:
                a.append(i)
    return a

In [23]:
common(S1,S2)

['the', 'column', 'will', 'contain', 'only', 'uniques', 'values']

In [30]:
def uncommon(s1,s2):
    s1=s1.split()
    s2=s2.split()
    b=list(set(s1)-set(s2))
    print('Uncommon words in s1',b)
    c=list(set(s2)-set(s1))
    print('Uncommon words in s2',c)

In [31]:
uncommon(S1,S2)

Uncommon words in s1 ['F', '5', 'first']
Uncommon words in s2 ['3', 'second', 'S']

In [32]:
s='daabacada'

In [33]:
b=sorted(s,key=lambda i:s.index(i))

In [34]:
b

['d', 'd', 'a', 'a', 'a', 'a', 'a', 'b', 'c']

In [37]:
b=sorted(s,key=lambda i:s.count(i),reverse=True)

In [38]:
b

['a', 'a', 'a', 'a', 'a', 'd', 'd', 'b', 'c']

In [43]:
def min_days(n):
    if n==0:
        return 0
    if n==1:
        return 1
    one=1+(n%2)+min_days(n//2)
    two=1+(n%3)+min_days(n//3)
    result=min(one,two)
    
    return result

In [44]:
min_days(17)

6

In [45]:
s='Levelheaded Llama'

In [46]:
s=s.split()

In [50]:
s[1][0]==s[0][0]

True

In [51]:
def old_mac(name):
    return name[0:3].capitalize()+name[3:].capitalize()

In [53]:
old_mac('oldmac')

'OldMac'

In [54]:
def paper_doll(text):
    result=""
    for i in text:
        result=result+i*3
    return result

In [55]:
paper_doll('Hello')

'HHHeeellllllooo'

In [60]:
def blackjack(a,b,c):
    if sum((a,b,c))<21:
        return sum((a,b,c))
    elif sum((a,b,c))<31 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'Bust'

In [61]:
blackjack(11,10,5)

16

In [14]:
def pair_sum(arr,k):
    seen=set()
    output=set()
    
    for i in arr:
        target=k-i
        
        if target not in seen:
            seen.add(i)
        else:
            output.add((min(i,target),max(i,target)))
    #return output
    print('pair values are ',''.join(map(str,list(output))))

In [15]:
pair_sum([3,4,8,5,9,8],17)

pair values are  (8, 9)

In [40]:
def sub_sum(arr,k):
    result=[]
    
    for i in arr:
        result.append(i)
        if (sum(result)>k):
            result.pop(0)
        if (sum(result)==k):
            print(result) 
    for j in range(len(arr)):
        if result[-1]==arr[j]:
            print('End pos is',j)
    for i in range(len(arr)):
        for j in result:
            if arr[i]==j:
                print('st_pos',i)
            break

In [41]:
array=[4,8,5,2,9,7]
sub_sum(array,18)

[2, 9, 7]
End pos is 5
st_pos 3

In [6]:
def max_sum(arr,k):
    
    curr_sum=arr[0]
    max_sum=arr[0]
    
    for i in arr[1:]:
        curr_sum=max(curr_sum+i,i)
        max_sum=max(curr_sum,max_sum)
        
    return max_sum

In [ ]:
def max_pos_sum(arr,k):
    curr_sum=0
    max_sum=a[0]
    st=end=poi=0
    
    for i in range(len(arr)):
        curr_sum=curr_sum+arr[i]
        
        if max_sum<curr_sum:
            max_sum=curr_sum
            st=poi
            end=i

        if curr_sum<0:
            curr_sum=0
            poi=poi+1

In [54]:
def pair_sum(arr,k):
    arr.sort()
    left=0
    right=len(arr)-1
    
    while(left<=right):
        if(arr[left]+arr[right]>k):
            right=right-1
        elif(arr[left]+arr[right]<k):
            left=left+1
        elif(arr[left]+arr[right]==k):
            print('pair values are',arr[left],arr[right])
            left=left+1
            right=right-1

In [55]:
pair_sum([3,4,8,5,9,8,19],17)

pair values are 8 9

In [56]:
pair_sum([1,2,3,2],4)

pair values are 1 3
pair values are 2 2

In [61]:
def three_sum(arr):
    result=[]
    arr.sort()
    
    for i,a in enumerate(arr):
        if i>0 and a==arr[i-1]:
            continue

        l=i+1
        r=len(arr)-1
        
        while l<r:
            threesum=a+arr[l]+arr[r]
            if threesum>0:
                r-=1
            elif threesum<0:
                l+=1
            elif threesum==0:
                result.append([a,arr[l],arr[r]])
                l+=1
                while arr[l]==arr[l-1] and l<r:
                    l+=1
    return result

In [62]:
three_sum([-1,0,2,1,-2,-1,-4])

[[-2, 0, 2], [-1, -1, 2], [-1, 0, 1]]

In [68]:
def hash_two(arr,k):
    hmap={}
    for i,n in enumerate(arr):
        target=k-n
        
        if target in hmap:
            return (hmap[target],i)
            
        hmap[n]=i

In [69]:
hash_two([1,3,5,2],4)

0

(0, 1)

In [70]:
# To make palindrome either all characters should be even or atmost 1 should be odd
def palindrome_possible(s):
    d={}
    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    
    odd_values=0
    for v in d.values():
        if v%2!=0:
            odd_values+=1
        if odd_values>1:
            return('not a palindrome')
    return ('palindrome')

In [72]:
palindrome_possible('abccbba')

'palindrome'

In [81]:
def pal_pos(s):
    if type(s)!=str:
        s=str(s)
    d={}
    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    odd_values=0
    for v in d.values():
        if v%2!=0:
            odd_values+=1
        if odd_values>1:
            return('not a palindrome')
    return ('palindrome')

In [82]:
pal_pos(123213)

'palindrome'

In [101]:
def pal_num(n):
    temp=n
    rev_num=0
    while temp>0:
        c=temp%10
        rev_num=rev_num*10+c
        temp=temp//10
    print(rev_num)
    if n==rev_num:
        print('palindrome')
    else:
        print('not a palindrome')

In [102]:
pal_num(12321)

12321
palindrome

In [117]:
def ngrams(s,n):
    wordlist=[]
    s=s.split()
    for i in range(len(s)):
        wordlist.append(' '.join(s[i:i+n]))
    return wordlist

In [119]:
ngrams('Anu is a good girl . She will get',2)

['Anu is',
 'is a',
 'a good',
 'good girl',
 'girl .',
 '. She',
 'She will',
 'will get',
 'get']

In [14]:
lst1=[5,2,2,1,1,3,4]
lst2=[1,2,3,4]

In [6]:
list(dict.fromkeys(lst1))

[5, 2, 1, 3, 4]

In [18]:
lst1=set(lst1)
lst2=set(lst2)

In [16]:
lst1.intersection(lst2)

{1, 2, 3, 4}

In [13]:
lst1

{5}

In [19]:
lst1.difference(lst2)

{5}

In [20]:
lst1.symmetric_difference(lst2)

{5}